@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-size: 44px;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  position: relative;
  
  @media (--viewportMedium) {
    width: 304px;
    margin-right: 120px;
  }
}

.step::after {
  @media (--viewportMedium) {
    content: '';
    position: absolute;
    background-image: url('/static/icons/big-right-arrow.webp');
    width: 64px;
    height: 64px;
    top: 50%;
    background-size: contain;
    margin-top: -32px;
    right: -90px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.step:last-of-type::after {
  content: none;
}

.stepTitle {
  margin-top: 0;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 6px;

  @media (--viewportMedium) {
    margin-top: 12px;
  }
}
