.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin: auto 24px 96px 24px;
  padding-top: 24px;
}

.rejectButton {
  margin-right: 6.5px;
}

.acceptButton {
  margin-left: 6.5px;
}

.tabContent {
  display: none;
}

.tabContentVisible {
  display: block;
}
