@import '../../marketplace.css';

:root {
  --desktopTitleMaxWidth: 625px;
}

.root {
  @apply --backgroundImage;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
  padding: 0 24px 0 24px;

  @media (min-width: 768px) {
    padding: 0 0 0 15vw;
  }
}

.heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);

  @media (--viewportMedium) {
    max-width: var(--desktopTitleMaxWidth);
  }

  @media (--viewportXLarge) {
    font-size: 144px;
    line-height: 144px;
    max-width: 1000px;
    margin-bottom: 60px;
  }
}

.heroSubTitle {
  color: var(--matterColorLight);
  margin-bottom: 63px;
  margin-top: 0;

  @media (--viewportMedium) {
    max-width: var(--desktopTitleMaxWidth);
  }

  @media (--viewportXLarge) {
    font-size: 24px;
    line-height: 36px;
    max-width: 1000px;
  }
}

.mobileSearchButton {
  border-radius: 4px;
  flex-shrink: 0;

  @media (--viewportMedium) {
    display: none;
  }
}

.searchIcon {
  vertical-align: top;
  stroke: var(--matterColorLight);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 10px;
}

.desktopSearchForm {
  display: none;
  background-color: var(--matterColorLight);
  border-bottom: 4px solid var(--marketplaceColor);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  @media (--viewportMedium) {
    display: block;
    width: 400px;
  }
}

/* Animate Hero */



