.section {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-image: url("data:image/svg+xml;utf8,<svg width='375' height='240' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><path fill='#D8D8D8' d='M0 0h375v240H0z' vector-effect='non-scaling-stroke'/><path d='M375 0l-375 240M.5.5l375 240' stroke='#979797' stroke-linecap='square' vector-effect='non-scaling-stroke'/></g></svg>");
  background-size: 100% 100%;
  background-position: center;

  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  text-align: center;

  /* Mobile padding */
  margin-left: 24px; /* Number out of my head, not sure if it's the right one */
  margin-right: 24px; /* Number out of my head, not sure if it's the right one */
}

.title {
  /* Font */
  font-size: 24px;
  letter-spacing: -0.6px;
  font-weight: bold;

  /* Mobile padding */
  margin-top: 64px;
  margin-bottom: 4px;

}
.subTitle {
  /* Font */
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: bold;

  /* Mobile padding */
  margin-bottom: 48px;
}

.ctaWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  /* Mobile dimensions */
  width: 235px;
}
