@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --ProfileSettingsForm_avatarSize: 96px;
  --ProfileSettingsForm_avatarSizeDesktop: 240px;
}

.root {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.sectionContainer {
  padding: 0;
  margin-bottom: 36px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 56px;
  }
}

.sectionTitle {
  /* Font */
  color: #000;

  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 3px;
  padding-bottom: 3px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.lastSection {
  margin-bottom: 69px;

  @media (--viewportMedium) {
    margin-bottom: 111px;

    & .sectionTitle {
      margin-bottom: 16px;
    }
  }
}

.uploadAvatarInput {
  display: none;
}

.uploadAvatarWrapper {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 44px;
    margin-bottom: 20px;
  }
}

.label {
  width: var(--ProfileSettingsForm_avatarSize);
  @media (--viewportMedium) {
    width: var(--ProfileSettingsForm_avatarSizeDesktop);
  }
}

.avatarPlaceholder,
.avatarContainer {
  /* Dimension */
  position: relative;
  width: var(--ProfileSettingsForm_avatarSize);
  height: var(--ProfileSettingsForm_avatarSize);

  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Initial coloring */
  background-color: var(--matterColorBright);
  border-radius: calc(var(--ProfileSettingsForm_avatarSize) / 2);
  cursor: pointer;

  @media (--viewportMedium) {
    width: var(--ProfileSettingsForm_avatarSizeDesktop);
    height: var(--ProfileSettingsForm_avatarSizeDesktop);
    border-radius: calc(var(--ProfileSettingsForm_avatarSizeDesktop) / 2);
  }
}

.avatarPlaceholder {
  /* Placeholder border */
  border-style: dashed;
  border-color: var(--matterColorNegative);
  border-width: 2px;

  transition: var(--transitionStyleButton);

  &:hover {
    border-color: var(--matterColorAnti);
  }
}

.avatarPlaceholderTextMobile {
  @media (--viewportMedium) {
    display: none;
  }
}
.avatarPlaceholderText {
  display: none;

  @media (--viewportMedium) {
    display: block;
    max-width: 130px;
    text-align: center;
  }
}

.avatarUploadError {
  /* Placeholder border */
  border-style: dashed;
  border-color: var(--failColor);
  border-width: 2px;
}

.error {
  /* Font */
  @apply --marketplaceH4FontStyles;
  color: var(--failColor);
  margin-top: 18px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 22px;
    margin-bottom: 2px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
}

.changeAvatar {
  /* Font */
  @apply --marketplaceH5FontStyles;

  font-weight: var(--fontWeightMedium);

  /* Positioning: right */
  position: absolute;
  bottom: 27px;
  right: -129px;
  /* Dimensions */
  width: 105px;
  height: 41px;
  padding: 10px 10px 11px 35px;

  /* Look and feel (buttonish) */
  background-color: var(--matterColorLight);
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><g stroke="%234A4A4A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M5.307 11.155L1 13l1.846-4.308L10.54 1 13 3.46zM11 5L9 3M5 11L3 9"/></g></svg>');
  background-repeat: no-repeat;
  background-position: 15px 12px;
  border: solid 1px var(--matterColorNegative);
  border-radius: 2px;

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    /* Position: under */
    bottom: -10px;
    right: auto;
    margin-top: 0;
    margin-bottom: 0;
    transition: var(--transitionStyleButton);
    padding: 7px 10px 11px 35px;
  }

  &:hover {
    border: solid 1px var(--matterColorAnti);
  }
}

.uploadingImage {
  /* Dimensions */
  width: var(--ProfileSettingsForm_avatarSize);
  height: var(--ProfileSettingsForm_avatarSize);

  /* Image fitted to container */
  object-fit: cover;
  background-color: var(--matterColorNegative); /* Loading BG color */
  border-radius: calc(var(--ProfileSettingsForm_avatarSize) / 2);
  overflow: hidden;

  display: block;
  position: relative;
  margin: 0;

  @media (--viewportMedium) {
    width: var(--ProfileSettingsForm_avatarSizeDesktop);
    height: var(--ProfileSettingsForm_avatarSizeDesktop);
    border-radius: calc(var(--ProfileSettingsForm_avatarSizeDesktop) / 2);
  }
}

.uploadingImageOverlay {
  /* Cover everything (overlay) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Overlay style */
  background-color: var(--matterColorLight);
  opacity: 0.8;

  /* Center content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Avatar has square aspect ratio */
/* Default is 3:2 */
.squareAspectRatio {
  padding-bottom: 100%;
}

.avatarInvisible {
  visibility: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.tip {
  @apply --marketplaceDefaultFontStyles;
  color: var(--matterColorAnti);
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 5px;
  padding-bottom: 1px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.fileInfo {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColorAnti);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 1px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 2px;
  }
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.firstName {
  width: calc(34% - 9px);
}

.lastName {
  width: calc(66% - 9px);
}

.bioInfo {
  color: var(--matterColorAnti);
  margin-top: 11px;

  @media (--viewportMedium) {
    margin-top: 16px;
  }
}

.submitButton {
  margin-top: 24px;
}

iframe[title='Yoti - Modal'] {
  z-index: 10;
}

.yotiTitle {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.yotiButton {
  cursor: pointer;
}

.howverify {
  position: relative;
  bottom: 2px;
  letter-spacing: -0.2px !important;
}

.yotiContainer {
  height: 57px;
  width: 201px;
}

.needHelp {
  color: #b2b2b2;
  font-size: 17px;
  padding-left: 10px;
}

.customTip {
 color: #fff !important;
 background-color: #41a6df !important;
 opacity: 0.99 !important;
 margin-top: -12px !important;
 padding: 10px 21px 13px !important;
 text-align: center;
}

.customTip:after {
 border-top-color: #41a6df !important;
 border-top-width: 7px !important;
}

.yotiBtn1 {
  display: flex;
  align-items: center;
  padding: 10px 0 56px;
}

.numb {
  height: 28px;
  margin-right: 10px;
  position: relative;
  bottom: 4px;
}

.contentinner p, .mobileHelp { 
  word-wrap: break-word;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1.375em !important;
  color: #4a4a4a !important;
  text-overflow: ellipsis !important;
  max-height: 2.75em !important;
  -webkit-box-orient: vertical !important;
}

.strr {
  margin-right: 10px;
}

.str, .strr {
  width: 110px;
  position: relative;
  bottom: 3px;
}

.yoticont {
  margin-left: 38px;
  margin-top: -14px;
  margin-bottom: -3px;
}

@media (max-width: 800px) {
  .yoticont {
    margin-top: -26px;
    margin-bottom: 1px;
    margin-left: 0;
    text-align: center;
}
}

.mobileHelp {
  display: none !important;
}

@media (min-width: 620px) {
  .forMob {
    display: none;
  }
}

@media (max-width: 620px) {
  .yotiBtn1 {
    padding: 10px 0 0 !important;
  }
  .mobileHelp {
    padding-bottom: 10px;
  }
  .forMob {
    display: block !important;
  }
  .CsS,
  .forPc {
    display: none !important;
  }
  .needHelp {
    display: none;
  }
  .yotiContainer {
    height: 60px;
  }
  .mobileHelp {
    display: block !important;
    margin-bottom: 36px;
  }
}

@media (max-width: 850px) {
  .yoticont {
    margin: 0 !important;
  }
}

@media (max-width: 480px) {
  .yoticont {
    margin: 23px 0 0 !important;
  }
}

@media (max-width: 1024px) {
  .CsS {
    margin-bottom: 25px !important;
  }
  .forMob {
    margin-bottom: 25px !important;
  }
}

@media (min-width: 1240px) {
  .yoticont {
    display: none;
  }
  .removePP {
  margin-top: -3px;
  }
  .CsS {
    margin-top: -1px;
  }
  .noWrap {
    white-space: nowrap !important;
  }
  .strr {
    margin-left: 10px;
  }
}

@media (max-width: 1240px) {
  .yoticont {
    display: block;
  }
  .noWrap .str,
  .noWrap .strr {
    display: none;
  }
}
.toolEmail {
  color: #fff !important;
}
