@import '../../marketplace.css';

.backgroundLight {
  stop-color: var(--marketplaceColorLight);
}

.backgroundDark {
  stop-color: var(--marketplaceColor);
}

.foregroundFill {
  fill: var(--matterColorLight);
}

.foregroundStroke {
  stroke: var(--matterColorLight);
}
