@import '../../marketplace.css';

:root {
  --verticalPadding: 60px;
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--verticalPadding) 0;

  @media (--viewportMedium) {
    padding: var(--verticalPadding) 10vw;;
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.imageIndex {

  /* Fonts */
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightSemiBold);

  /* Position and dimensions */
  position: absolute;
  top: 21px;
  left: 20px;
  margin: 0;

  /* Colors */
  color: var(--matterColorLight);

  @media (--viewportMedium) {
    margin: 0;
    font-weight: var(--fontWeightSemiBold);
  }
}

.prev,
.next {

  /* Position and dimensions */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40vw;

  /* Clear button borders */
  border: none;
  border-radius: 0;

  outline: none;
  cursor: pointer;

  background-size: 13px auto;
}

.prev {
  left: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="7" height="10" viewBox="0 0 7 10" xmlns="http://www.w3.org/2000/svg"><path d="M5.667 1c.094 0 .188.04.254.118.12.14.102.35-.038.47L1.85 5l4.032 3.412c.14.12.158.33.04.47-.12.14-.33.158-.47.04L1.117 5.254C1.043 5.19 1 5.098 1 5s.043-.19.118-.255L5.45 1.08c.064-.054.14-.08.217-.08" stroke="#FFF" fill="#FFF" fill-rule="evenodd"/></svg>');
  background-position: center left 20px;

  @media (--viewportMedium) {
    background-position: center left 5vw;
  }
}

.next {
  right: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="7" height="10" viewBox="0 0 7 10" xmlns="http://www.w3.org/2000/svg"><path d="M1.333 9c-.094 0-.188-.04-.254-.118-.12-.14-.102-.35.038-.47L5.15 5 1.118 1.588c-.14-.12-.158-.33-.04-.47.12-.14.33-.158.47-.04l4.334 3.667C5.957 4.81 6 4.902 6 5s-.043.19-.118.255L1.55 8.92c-.064.054-.14.08-.217.08" stroke="#FFF" fill="#FFF" fill-rule="evenodd"/></svg>');
  background-position: center right 20px;

  @media (--viewportMedium) {
    background-position: center right 5vw;
  }
}

.image {
  /* Fit image in the available space as big as possible, keeping the aspect ratio */
  object-fit: contain;
}
