.root {
  &::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.tab {
  float: left;
  margin-left: 1rem;
  font-size: 20px;
  letter-spacing: -0.5px;

  &:first-child {
    margin-left: 0;
  }
}

.link {
  text-decoration: underline;
}

.selectedLink {
  font-weight: bold;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  color: #999;
  text-decoration: none;
}
