@import '../../marketplace.css';

.root {
  &::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.tab {
  float: left;
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.link {
  @apply --marketplaceH1FontStyles;
  color: var(--matterColor);
}

.selectedLink {
  color: var(--matterColorDark);
  border-bottom: 3px solid var(--matterColorDark);
  padding-bottom: 7px;
}

.disabled {
  pointer-events: none;
  color: #999;
  text-decoration: none;
}
