@import '../../marketplace.css';

.root {
  &::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.tab {
  float: left;
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.link {
  display: inline-block;

  /* Font */
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);

  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    text-decoration: none;
    color: var(--matterColorDark);
  }

  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.selectedLink {
  border-bottom: 2px solid var(--matterColorDark);
}

.disabled {
  pointer-events: none;
  color: #999;
  text-decoration: none;
}
