
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
   
    {{#with transaction}}
    <h1>
      Reminder about the Booking Request from {{customer.display-name}}
    </h1>
    <p>
      This is a reminder that {{customer.display-name}} has requested to book your Hosting Service starting on {{> format-date date=booking.start}} . 
    </p>
    <p>
      If you don't respond within 48 hours the booking request will expire.      
    </p>
  
    {{/with}}
   
    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>