@import '../../marketplace.css';

.root {

}

.receipt {
  margin-bottom: 24px;
}

.error {
  color: var(--failColor);
  margin-top: 0;
  display: inline-block;
}

.smallPrint {
  font-size: 12px;
  text-align: center;
}

.bookingEnd {
  margin-top: 24px;
}
