@import '../../marketplace.css';

.sectionContent {
  margin: 60px auto 70px;
  padding: 0 36px 0 36px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 60px auto 70px;
  }

  @media (--viewportLarge) {
    width: 1024px;
    padding: 0 36px 0 36px;
    margin: 60px auto 70px;
  }

  @media (--viewportXLarge) {
    width: 1024px;
    padding: 0;
  }
}

.PaymentWrapper {
  background: #EBF1FA;
}

.snowStormDiv {
  z-index: 3 !important;
}

.freeListingModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgb(65,166,223, 0.3);
}

.freeListingModal > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.freeListingModal > div > h3 {
  font-size: 28px;
  text-shadow: 1px 1px 1px #fff;
  color: #000 !important;
  margin: 45px 0;
  font-weight: 700;
  font-weight: 800;
}

.modalImage {
  height: 100px;
}

.closeModal {
  height: 30px;
  position: absolute;
  right: 70px;
  top: 50px;
}

.PaymentWrapper {
  position: relative;
}

.sectionContent {
  /* filter: blur(5px); */
}

.gridContainer {
  display: grid;
  grid-template-areas:
    'main right';
  grid-gap: 100px;
  padding: 10px;
  grid-auto-columns: 1fr;
}

.item1 h2,
.item2 h2 {
  color: #425168;
}

.item1 {
  box-shadow: 4px 6px 25px 1px rgba(0, 0, 0, 0.25)
}

.item2 h2 {
  margin-top: 19px;
}

.Chargebee img {
  position: relative;
  bottom: 3px;
  padding-right: 10px;
}

.item1 p {
  color: #425168;
  font-size: 30px !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 8px;
  padding-top: 0px;
}

.getHelp {
  padding-top: 0px;
  padding-bottom: 
}

.getHelp {
  padding-top: 30px;
}

.getHelp a:hover {
  text-underline-position: under;
  color: #41a6df;
}

.getHelp p {
  padding: 0;
  font-size: 14px !important;
}

.firstRow {
  padding-bottom: 30px;
}

.item1 p:nth-of-type(2) {
  padding-bottom: 15px !important;
  padding-top: 0 !important;
  font-weight: 400;
  font-size: 25px !important;
}

.Chargebee {
  font-size: 18px;
  background: #b7a77b;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  line-height: 47px;
  width: 250px;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #425168;
}

.Chargebee:hover {
  background: #c9bd9c;
  cursor: pointer;
}

.freeListing {
  font-size: 18px;
  background: #f1a41a;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  height: 50px;
  font-weight: 500;
  line-height: 45px;
  width: 250px;
  margin: 0 auto;
  border-bottom: 3px solid red;
  text-transform: uppercase;
}

.freeListing:hover {
  cursor: pointer;
  background: #f1b905;
}

.item1 p span {
  color: #41a6df;
  font-weight: 700;
}

.item1 h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.lineImg {
  width: 230px;
  object-fit: cover;
}

.item2 {
  background: transparent !important;
  padding: 0 !important;
}

.whybuy {
  display: flex;
}

.whyCont {
  position: relative;
  width: 30%;
}

.whyCont img {
  position: absolute;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whyItem {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.whyItem h3 {
  font-weight: 600;
  color: #425168 !important;
  margin-bottom: 5px;
}

.whyItem p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
  color: #425168;
}

.morereasons {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  color: #41a6df;
  padding: 0;
}

.morereasons:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px 0;
}

.item1 { grid-area: main; border-radius: 10px; }
.item2 { grid-area: right; }

.whybuy ul {
  text-align: left;

}

.whybuy ul li {
  margin-bottom: 15px;
  color: #425168;
  white-space: nowrap;
}

.whybuy ul li:last-child {
  margin-bottom: 0 !important;
}

.whybuy ul li img {
  height: 20px;
  padding-right: 5px;
  position: relative;
  bottom: 2.5px;
}

/* Media */

@media (max-width: 992px) {
  .gridContainer {
    grid-gap: 50px;
  }
  .item1 {
    padding: 30px !important;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    display: inherit;
  }
}

@media (max-width: 520px) {
  .sectionContent {
    padding: 0;
  }
  .item1 {
    margin-bottom: 2rem;
  }
  .item2 h2 {
    margin-bottom: 1.5rem;
  }
}