@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;

  margin-top: 0;
  max-width: 735px;
  font-size: 44px;
  @media (--viewportMedium) {
    margin-bottom: 23px;
  }
}

.listingCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;

  @media (--viewportMedium) {
    grid-template-columns: 1fr 1fr 1fr; 
  grid-column-gap: 40px;
  }
}