@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;

  @media (--viewportMedium) {
    margin-bottom: 50px;
  }
}

.listingCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;

  @media (--viewportMedium) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }
}

.bigButton {
  @apply --marketplaceButtonStyles;
  @apply --marketplaceGradientButton;

  animation-delay: 0.8s;
  margin: 30px auto 0 auto;
  border-radius: 4px;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
}
