# http://editorconfig.org/

# top-most EditorConfig file
root = true

# Formatting options. Note: Prettier also uses some of these.
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100
