# Mandatory configuration
#
# Note: You also need to set Stripe secret key in Flex Console.
#
REACT_APP_SHARETRIBE_SDK_CLIENT_ID=c1371354-27b0-484c-9459-8847eff2d7d1
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_FTDyQy5OEJ4sLmfQpTYA8sot00zw13AywS
REACT_APP_MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoib3V0ZG9vcmNvYWNoLW1hbnMiLCJhIjoiY2p5ZGE4OWZtMHFiNDNtbnp2NnU0Nm45dSJ9.gaOMSEv9tJpm2aB_NauprQ

# Or set up an alternative map provider (Google Maps). Check documentation.
# REACT_APP_GOOGLE_MAPS_API_KEY=

# Defaults
#

REACT_APP_SHARETRIBE_MARKETPLACE_CURRENCY=SEK
REACT_APP_CANONICAL_ROOT_URL=http://localhost:3000

# This is overwritten by configuration in .env.development and
# .env.test. In production deployments use env variable and set it to
# 'production'
REACT_APP_ENV=production


# Options. Uncomment and set to test.
#

# REACT_APP_SHARETRIBE_USING_SSL=true
# SERVER_SHARETRIBE_TRUST_PROXY=true
# REACT_APP_SENTRY_DSN=change-me
REACT_APP_CSP=report
# BASIC_AUTH_USERNAME=sharetribe
# BASIC_AUTH_PASSWORD=secret
# REACT_APP_GOOGLE_ANALYTICS_ID=change-me


# Features
#

REACT_APP_AVAILABILITY_ENABLED=true
REACT_APP_DEFAULT_SEARCHES_ENABLED=true

# Contentful
#

CONTENTFUL_DELIVERY_API_ACCESS_TOKEN=h4xG4is0Ak-rh4GF2CzuHYl_EuIwsOcta3rYEwcm4b0