# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
log

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
yarn.lock
/.idea/.gitignore
/process/templates/booking-request-accepted/booking-request-accepted-html.html
/process/templates/booking-request-accepted/booking-request-accepted-subject.txt
/process/templates/booking-request-auto-declined/booking-request-auto-declined-html.html
/process/templates/booking-request-auto-declined/booking-request-auto-declined-subject.txt
/process/templates/booking-request-declined/booking-request-declined-html.html
/process/templates/booking-request-declined/booking-request-declined-subject.txt
/.idea/ftw-daily.iml
/.idea/modules.xml
/process/templates/money-paid/money-paid-html.html
/process/templates/money-paid/money-paid-subject.txt
/process/templates/new-booking-request/new-booking-request-html.html
/process/templates/new-booking-request/new-booking-request-subject.txt
/process/process.edn
/process/templates/review-by-customer-wanted/review-by-customer-wanted-html.html
/process/templates/review-by-customer-wanted/review-by-customer-wanted-subject.txt
/process/templates/review-by-other-party-published/review-by-other-party-published-html.html
/process/templates/review-by-other-party-published/review-by-other-party-published-subject.txt
/process/templates/review-by-other-party-unpublished/review-by-other-party-unpublished-html.html
/process/templates/review-by-other-party-unpublished/review-by-other-party-unpublished-subject.txt
/process/templates/review-by-provider-wanted/review-by-provider-wanted-html.html
/process/templates/review-by-provider-wanted/review-by-provider-wanted-subject.txt
/.idea/vcs.xml
/.idea
