@import '../../marketplace.css';

.root {
}

.select {
  color: var(--matterColorAnti);
  border-bottom-color: var(--attentionColor);
}

.selectSuccess {
  color: var(--matterColor);
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}
