@import '../../marketplace.css';

.root {

}

.select {
  border-bottom-color: var(--attentionColor);
}

.selectSuccess {
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}
