@import '../../marketplace.css';

.content {
  @media (--viewportMedium) {
    margin: 32px auto 0 auto;
    max-width: 564px;
  }

  @media (--viewportLarge) {
    margin: 0;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.title {
  margin-top: 4px;
  margin-bottom: 19px;

  @media (--viewportMedium) {
    margin-top: 2px;
    margin-bottom: 47px;
  }
}
