@import '../../marketplace.css';

.mainContent {
  @media (--viewportLarge) {
    margin-bottom: 122px;
  }
}

.loading {
  margin-left: 24px;
  margin-right: 24px;
}

.error {
  margin-left: 24px;
  margin-right: 24px;
  color: var(--failColor);
}

.tabContent {
  display: none;
}

.tabContentVisible {
  display: block;
}

.activeTab {
  font-weight: bold;
}

.footer {
  display: none;

  @media (--viewportLarge) {
    display: block;
  }
}
