.root {
  display: block;
  padding: 0.5rem;
  background-color: #9B9B9B;
  border-width: 0px;

  /* Font */
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.4px;

  /* Dimensions */
  width: 100%;
  height: 50px;

  /* Hovers */

  &:enabled:hover {
    background-color: color(#9B9B9B blackness(+ 20%));
  }
  &:enabled:active {
    background-color: #ccc;
  }
  &:disabled {
    background-color: #ddd;
    cursor: auto;
  }
}
