@import '../../marketplace.css';

.root {
  @apply --marketplaceButtonStyles;

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  background-color: #c9bd9c;

  &:hover{
    background-color: #b7a77b !important;
  }
}



.primaryButtonRoot {
  @apply --marketplaceButtonStylesPrimary;
  text-decoration: none !important;
  background-color: #c9bd9c;
  &:hover{
  background-color: #b7a77b;
  color: #fff;
  text-decoration: none !important;
  }
  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
}
.primaryButtonRootEx{
  @apply --marketplaceButtonStylesPrimary;
  text-decoration: none !important;
  background-color: #c9bd9c;
  /* Clear padding that is set for link elements looking like buttons */
  &:hover{
    background-color: #b7a77b;
  }
  padding: 0;
}
.secondaryButtonRoot {
  @apply --marketplaceButtonStylesSecondary;

  /* We must lift up the text from the center since it looks better with
   the button border. Also clears the top padding set for link
   elements looking like buttons */
  padding: 0 0 2px 0;
}

.inlineTextButtonRoot {
  @apply --marketplaceLinkStyles;
}

.primaryButton {
  /* Class handle for primary button state styles */
  text-decoration: none !important;
}
.orderTypeButton_first:active, .orderTypeButton_first:active, .orderTypeButton_first:focus {
  text-decoration: none !important;
}
.secondaryButton {
  text-decoration: none !important;
}
.orderTypeButton{
  
  text-decoration: none !important;
  &:hover{
    background-color: #b7a77b; 
    color: #fff; 
    border: none !important;
    text-decoration: none !important;
  }
}
.orderTypeButton_first{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  text-decoration: none !important;
  &:hover{
    background-color: #b7a77b; 
    color: #fff; 
    border: none !important;
    text-decoration: none !important;
  }
}
.orderTypeButton_last{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  text-decoration: none !important;
  &:hover{
    background-color: #b7a77b; 
    color: #fff; 
    border: none !important;
    text-decoration: none !important;
  }
}

.inProgress {
  padding: 0;

  &:disabled {
    background-color: var(--marketplaceColor);
  }
}

.primaryButton.inProgress:disabled {
  background-color: var(--successColor);
}

.secondaryButton.inProgress:disabled {
  background-color: var(--matterColorLight);
}

.ready {
  padding: 0;

  &:disabled {
    background-color: var(--marketplaceColor);
  }
}

.primaryButton.ready:disabled {
  background-color: var(--successColor);
}

.secondaryButton.ready:disabled {
  background-color: var(--matterColorLight);
}

.spinner {
  width: 28px;
  height: 28px;
  stroke: var(--matterColorLight);
  stroke-width: 3px;
}

.checkmark {
  width: 24px;
  height: 24px;
  stroke: var(--matterColorLight);

  /* Animation */
  animation-name: checkmarkAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes checkmarkAnimation {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.secondaryButton .spinner {
  stroke: var(--matterColorAnti);
}

.secondaryButton .checkmark {
  stroke: var(--matterColorAnti);
}
