@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --SectionHero_desktopTitleMaxWidth: 625px;
  --SectionHero_desktopSubtitleMaxWidth: 525px;

  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

.root {
  @apply --backgroundImageMobile;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 0px;
  /* Text positioning is done with paddings */

  @media (--viewportMedium) {
    @apply --backgroundImage;
  }
}

.heroContent {
  margin: 0 24px 0 24px;

  @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
  }

  /* Special viewport for adjusting the heroContent's placement */

  /* @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
  } */

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
    max-width: calc(1052px + 36px + 36px);
    width: 100%;
    padding: 0 36px 0 36px;
  }
}

.heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
}

.heroSubTitle {
  @apply --marketplaceBodyFontStyles;

  margin: 0 0 25px 0;

  @apply --SectionHero_animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopSubtitleMaxWidth);
    margin: 0 0 31px 0;
  }
}

.bold {
  font-weight: 700;
}

.heroButtonsContatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroButtonPink {
  @apply --SectionHero_animation;

  background-color: var(--marketplaceColor);
  color: var(--matterColorLight);
  padding: 1em 1em;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  margin-right: 5px;
  max-width: 200px;

  &:hover {
    background-color: #ffc9e5;
    text-decoration: none;
  }

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
  }
}

.heroButton {
  @apply --SectionHero_animation;

  background-color: var(--matterColorLight);
  color: var(--marketplaceColor);
  padding: 1em 1em;
  border-radius: 4px;
  border: 1px solid var(--marketplaceColor);
  text-align: center;
  opacity: 0.5;
  margin-left: 5px;
  max-width: 200px;

  &:hover {
    background-color: #fff7fb;
    text-decoration: none;
  }

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
  }
}

.heroButtonPink span, .heroButton span {
  font-size: 14px;
  @media (--viewportMedium) {
    font-size: 20px;
  }
}
