.root {
	/* Dimensions */
	width: 100%;
	height: auto;

	/* Layout */
	display: flex;
	flex: 1;
	flex-direction: column;

	padding-top: 1px;

	@media (--viewportMedium) {
		padding-top: 2px;
	}
}

.error {
	color: var(--failColor);
}

.formMargins {
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-bottom: 32px;
	}
}

.subject {
	composes: formMargins;
}

.category {
	composes: formMargins;
}

.submitButton {
	margin-top: auto;
	margin-bottom: 24px;
	flex-shrink: 0;

	@media (--viewportLarge) {
		display: inline-block;
		width: 241px;
		margin-top: 100px;
	}
}

.urlInputContainer{
	position: relative;
}

.afterInputContainer {
	position: relative;
	height: fit-content;
}

.afterInputContainer .addUrlButton {
	position: absolute;
	right: 0px;
	padding: 10px 20px;
	width: fit-content;
	min-height: fit-content;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-shrink: 0;

	@media (--viewportLarge) {
		display: inline-block;
		margin-top: 0px;
	}
}
