{:format :v3,
 :transitions
 [{:name :transition/enquire,
   :actor :actor.role/customer,
   :actions [],
   :to :state/enquiry}
  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :actions
   [{:name :action/create-booking,
     :config {:observe-availability? true}}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :to :state/pending-payment
   :privileged? true}
  {:name :transition/request-payment-after-enquiry,
   :actor :actor.role/customer,
   :actions
   [{:name :action/create-booking,
     :config {:observe-availability? true}}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :from :state/enquiry,
   :to :state/pending-payment
   :privileged? true}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["PT15M"]}]},
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/pending-payment,
   :to :state/payment-expired}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [{:name :action/stripe-confirm-payment-intent}],
   :from :state/pending-payment,
   :to :state/preauthorized}
  {:name :transition/accept,
   :actor :actor.role/provider,
   :actions
   [{:name :action/accept-booking}
    {:name :action/stripe-capture-payment-intent}],
   :from :state/preauthorized,
   :to :state/accepted}
  {:name :transition/decline,
   :actor :actor.role/provider,
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized,
   :to :state/declined}
  {:name :transition/expire,
   :at
   {:fn/min
    [{:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized]}
       {:fn/period ["P6D"]}]}
     {:fn/plus
      [{:fn/timepoint [:time/booking-end]} {:fn/period ["P1D"]}]}]},
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized,
   :to :state/declined}
  {:name :transition/complete,
   :at {:fn/timepoint [:time/booking-end]},
   :actions [{:name :action/stripe-create-payout}],
   :from :state/accepted,
   :to :state/delivered}
  {:name :transition/cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/cancel-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/accepted,
   :to :state/cancelled}
  {:name :transition/review-1-by-provider,
   :actor :actor.role/provider,
   :actions [{:name :action/post-review-by-provider}],
   :from :state/delivered,
   :to :state/reviewed-by-provider}
  {:name :transition/review-2-by-provider,
   :actor :actor.role/provider,
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/review-1-by-customer,
   :actor :actor.role/customer,
   :actions [{:name :action/post-review-by-customer}],
   :from :state/delivered,
   :to :state/reviewed-by-customer}
  {:name :transition/review-2-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/delivered,
   :to :state/reviewed}
  {:name :transition/expire-provider-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/expire-customer-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}],
 :notifications
 [{:name :notification/new-booking-request,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :new-booking-request}
  {:name :notification/booking-request-accepted,
   :on :transition/accept,
   :to :actor.role/customer,
   :template :booking-request-accepted}
  {:name :notification/booking-request-declined,
   :on :transition/decline,
   :to :actor.role/customer,
   :template :booking-request-declined}
  {:name :notification/booking-request-auto-declined,
   :on :transition/expire,
   :to :actor.role/customer,
   :template :booking-request-auto-declined}
  {:name :notification/money-paid,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :money-paid}
  {:name :notification/review-period-start-provider,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :review-by-provider-wanted}
  {:name :notification/review-period-start-customer,
   :on :transition/complete,
   :to :actor.role/customer,
   :template :review-by-customer-wanted}
  {:name :notification/review-by-provider-first,
   :on :transition/review-1-by-provider,
   :to :actor.role/customer,
   :template :review-by-other-party-unpublished}
  {:name :notification/review-by-customer-first,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :review-by-other-party-unpublished}
  {:name :notification/review-by-provider-second,
   :on :transition/review-2-by-provider,
   :to :actor.role/customer,
   :template :review-by-other-party-published}
  {:name :notification/review-by-customer-second,
   :on :transition/review-2-by-customer,
   :to :actor.role/provider,
   :template :review-by-other-party-published}]}
