.container {
  width: 100%;
}

.tab {
  display: none;
}

.filters {
  composes: tab;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #fff;

  /* This may be overriden if mobile frame is in use */
  width: 100%;
}

.listings{
  composes: tab;
}

.map {
  composes: tab;
  position: fixed;
  top: 0;
  height: 100vh;

  /* This may be overriden if mobile frame is in use */
  width: 100%;
}

.open {
  display: block;
}

/*
  A temporary solution to make the filters panel (which has position: fixed)
  to stay inside the mobile frame.

  Remove this when we remove the mobile frame.
*/
:global(.mobileFrameEnabled) .filters,
:global(.mobileFrameEnabled) .map {
  width: 375px;
}
