.container {
  width: 100%;
}

.searchResultSummary {
  margin: 0 1rem;
}

.tab {
  display: none;
}

.filters {
  composes: tab;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #fff;
}

.listings{
  composes: tab;
}

.map {
  composes: tab;
  position: fixed;
  top: 0;
  height: 100vh;
}

.open {
  display: block;
}
