@import '../../marketplace.css';

.root {
display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
  min-height: 306px;
}

.email {
  margin-top: 37px;

  @media (--viewportMedium) {
    margin-top: 38px;
  }
}

.bottomWrapper {
  margin-top: auto;
}

.bottomText {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColorAnti);
  margin: 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.submitButton {
  margin-top: 26px;
}

.loginLink {
  color: var(--matterColor);
}
