@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.email {
  margin-top: 24px;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-top: 22px;
    margin-bottom: 88px;
  }
}

.bottomWrapper {
  @apply --marketplaceH5FontStyles;
  margin-top: auto;
  color: var(--matterColorAnti);
}

.loginLink {
  color: var(--matterColor);
}
