.root {

}

.searchInputIcon {
  box-sizing: content-box;
  padding-left: 24px;
  margin-top: 2px;
}

.searchInput {
  height: 69px;
}

.searchPredictions {
  margin-top: 16px;
  margin-bottom: 102px;
}
