@import '../../marketplace.css';

.root {
  border-radius: 2px;
}

.searchInputIcon {
  box-sizing: content-box;
  padding-left: 24px;
  margin-top: 2px;
}

.searchInput {
  height: 69px;

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--matterColor);
  }

  &::placeholder {
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-weight: var(--fontWeightRegular);
    transition: var(--transitionStyleButton);
  }
}

.searchPredictions {
  margin-top: 16px;
  margin-bottom: 102px;
}
