
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Ihre Buchungsanfrage ist abgelaufen.</h1>

    {{#with transaction}}
    <p>Leider hat {{provider.display-name}} auf Ihre Buchungsanfrage für {{listing.title}} von {{> format-date date=booking.start}} bis {{> format-date date=booking.end}} nicht rechtzeitig geantwortet, so dass die Anfrage abgelaufen ist.</p>
    {{/with}}

    <p><a href="{{marketplace.url}}">Versuchen Sie stattdessen, ein anderes Angebot zu buchen</a></p>

    <hr />

    <p>Sie haben diese E-Mail-Benachrichtigung erhalten, weil Sie ein Nutzer von {{marketplace.name}} sind. Wenn Sie diese E-Mails nicht mehr erhalten möchten, wenden Sie sich bitte an das {{marketplace.name}} Team.</p>
  </body>
</html>