@import '../../marketplace.css';

.root {

}

/* heroContainer gives the height for HeroSection */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
.heroContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 98px;

  @media (min-width: 768px) {
    justify-content: center;
    padding-top: 60px;
  }
}
