@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --LandingPage_sectionMarginTop: 40px;
  --LandingPage_sectionMarginTopMedium: 60px;
  --LandingPage_sectionMarginTopLarge: 94px;
}

.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  /* height: 67.5vh; */
  height: 100%;
  max-height: 600px;
  padding: 0;

  @media (--viewportMedium) {
    min-height: 500px;
    height: 70vh;
    max-height: none;
  }

  @media (--viewportLarge) {
    max-height: 800px;
    min-height: 600px;
    height: calc(70vh - var(--topbarHeightDesktop));
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 32px;

  @media (--viewportMedium) {
    padding-bottom: 83px;
  }

  @media (--viewportLarge) {
    justify-content: center;
    padding-top: 60px;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}

.landingBody {
  height: 800px;
  background-color: #202024;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info {
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h2 {
  /* border: 1px solid blue; */
  width: 75%;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.cardImage {
  width: 26%;
  margin: auto;
  height: 400px;
  border: 1px solid blue;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  background-color: blue;
  border-radius: 6px;
}

.cardImageContainer {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 70px;
}

.cardButton {
  width: 18%;
  height: 60px;
  align-self: center;
  margin-top: 2% !important;
  margin-bottom: 12% !important;
  font-size: 19px;
  font-weight: 500;
  white-space: nowrap;
}

.swappedContainer {
  height: 100%;
}

.imgRight {
  height: 525px;
  color: white;
}
.imgLeft {
  color: white;
  height: 525px;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 2%;
}

.rightImageView {
  width: 440px;
  height: 340px;
  background-image: url('../../assets/louis-hansel-DRUgO0fF19g-unsplash.jpg');
  background-size: cover;
}

.leftImageView {
  width: 658px;
  height: 389px;
  background-image: url('../../assets/zoe-holling-PScacPyJE5U-unsplash.jpg');
  background-size: 65%;
  background-position-y: center;
}

.rightImageView2 {
  width: 440px;
  height: 340px;
  background-image: url('../../assets/Mr_vlQvg.jpeg');
  background-color: red;
  background-size: cover;
}

.la {
  background-image: url('../../assets/daniil-vnoutchkov-oF24WeAA4Ec-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 23%;
  margin-right: 3%;
}

.sd {
  background-image: url('../../assets/daniel-guerra-RQF6bbS4shw-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 23%;
  margin-right: 3%;
}

.sf {
  background-image: url('../../assets/tim-foster-o4mP43oPGHk-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 23%;
  margin-right: 3%;
}

.ny {
  background-image: url('../../assets/oliver-niblett-wh-7GeXxItI-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 23%;
  margin-right: 3%;
}

.mi {
  background-image: url('../../assets/raphael-nogueira-JMYBetGDIKY-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 23%;
  margin-right: 3%;
}

.ol {
  background-image: url('../../assets/amy-humphries-moOMLIZlUaM-unsplash.jpg');
  width: 26%;
  margin: auto;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  background-size: 263% 100%;
  background-position-x: center;
  max-width: 22%;
  margin-right: 3%;
}

.placeBtn {
  font-size: 19px !important;
  font-weight: 700 !important;
  width: 18%;
  height: 60px;
  align-self: center;
  margin-top: 2% !important;
  margin-bottom: 12% !important;
  white-space: nowrap;
}

.panelImages {
  font-size: 18px;
  color: white;
  width: 90%;
  border-radius: 5px;
}

.panelInfo {
  color: white;
  font-size: 14px;
}

.popLocations {
  color: white;
  align-self: flex-start;
  margin-left: 17%;
  font-size: 23px;
}

.popLocationsInfo {
  color: white;
  align-self: flex-start;
  margin-left: 17%;
  font-size: 14px;
  font-weight: 400;
}

.premTours {
  color: white;
  align-self: flex-start;
  margin-left: 12.5%;
  font-size: 23px;
}

.premToursInfo {
  color: white;
  align-self: flex-start;
  margin-left: 12.5%;
  font-size: 14px;
  font-weight: 400;
}

.premContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 210px;
}

.planeFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.aeromatesFooterImg {
  color: #1f1f1f;
  width: 40%;
  z-index: 1;
  align-self: center;
}

.aeromatesFooterPlaneImg {
  width: 100%;
  margin-top: -10%;
  margin-bottom: -26%;
}

.headerPrem {
  font-size: 45px;
}

.paraPrem {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}

.imgOverlap {
  position: relative;
  top: 47%;
  left: 18%;
  width: 233px;
  height: 208px;
  background-image: url('../../assets/deleece-cook-znXmpb53QJU-unsplash.jpg');
  background-size: cover;
}