<html>
  <body>
    {{#with transaction}}
    <h1>{{other-party.display-name}} has left you a review!</h1>

    <p>You have been left a review by {{other-party.display-name}}. To see what they wrote, please leave them a review as well.</p>

    <p>
      <a href="{{marketplace.url}}/{{#eq recipient-role "customer"}}order{{else}}sale{{/eq}}/{{url-encode id}}/details">Leave a review</a>
    </p>
    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>