@import '../../styles/propertySets.css';

.root {
  & p {
    @apply --marketplaceH4FontStyles;
  }
  & h2 {
    /* Adjust heading margins to work with the reduced body font size */
    margin: 23px 0 19px 0;

    @media (--viewportMedium) {
      margin: 24px 0 24px 0;
    }
  }

  & ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  & li {
      font-size: 16px;
    }

  & .lastUpdated {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 55px;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 54px;
    }
  }
  
}


.pureTable {
    /* Remove spacing between table cells (from Normalize.module.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid  var(--matterColorDark);
}

.pureTable caption {
    color: #000;
    padding: 1em 0;
    text-align: center;
}

.pureTable td,
.pureTable th {
    border-bottom: 1px solid  var(--matterColorDark);
    border-left: 1px solid  var(--matterColorDark);
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 1em 1em; /* cell padding */
    line-height: 1.5;
}

.pureTable thead {
    background-color: var(--marketplaceColorLight);
    color: #000;
    text-align: left;
    vertical-align: bottom;
}




