{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>
      Reminder about your Upcoming PetCrib Hosting Service
    </h1>

    {{#with transaction}}
<p>Your Upcoming Hosting Service is starting on {{> format-date date=booking.start}} with {{customer.display-name}}.</p>

<p><a href="{{marketplace.url}}"> Remember to reach out to {{customer.display-name}} to exchange any necessary information if you haven't done so already.
</a></p>
    {{/with}}
    <!-- <p><a href="{{marketplace.url}}">Remember to reach out to {{customer.display-name}} and ask them any questions about the upcoming Booking and the Pets you will be caring for.</a></p> -->

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>