@import '../../marketplace.css';

.pageTitle {
  text-align: center;
}

.sectionContent {
  margin: 80px auto 80px;
  padding: 0 36px 0 36px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 80px auto 80px;
  }

  @media (--viewportLarge) {
    width: 1024px;
    padding: 0 36px 0 36px;
    margin: 80px auto 80px;
  }

  @media (--viewportXLarge) {
    width: 1024px;
    padding: 0;
  }
}

.sectionConent h1,
.sectionContent h2,
.sectionContent p,
.sectionContent ul li,
.sectionContent span {
  font-family: "narrow", "Times New Roman", serif;
}

.sectionContent p,
.sectionContent span {
  letter-spacing: 0.7px;
}

.sectionContent ul li {
  font-weight: bold;
}

.sectionContent h2 {
  font-weight: 600;
}

.sectionConent h1,
.sectionContent h2,
.sectionContent ul li {
  letter-spacing: 0.8px;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 60px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 60px auto 100px;
  }
}

.circle {
  background: #fff;
  border: 2px solid darkslategray;
  border-radius: 50%;
  line-height: 50px;
  margin-top: 50px;
  position: relative;
  text-align: center;
  width: 50px;
  color: darkslategray;
  font-weight: 500;
}
.circle:first-child {
  margin-top: 0;
}
.circle::before {
  border: 1px solid darkslategray;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top:-22px; /** (margin between circle (20px * -1)) - (border-width (2px * -1)) = -22px */  
}
.jNow {
  color: #41a6df !important;
  text-align: center;
}
.affiliateSecond p {
  color: darkslategray;
}
.start {
  font-family: "narrow", "Times New Roman", serif !important;
  letter-spacing: 0.8px;
  background-color: rgb(65,166,223);
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}
.start:hover {
  background-image: linear-gradient(to right top, #d16ba5, #c077bd, #a983d0, #8d8fdc, #6d9ae2, #6d9ae2, #6d9ae2, #6d9ae2, #8d8fdc, #a983d0, #c077bd, #d16ba5);
  color: #fff !important;
  text-decoration: none !important;
}
.flex {
  align-items: center;
  display: flex;
  margin-bottom: 20px; /** vertical-space between the circles. */
}
.textpadding {
  padding: 0 15px;
  color: darkslategray;
  font-weight: 500;
}
.flex:first-child .circle::before {
  display:none;
}

.affiliateWrapper {
  display: block;
  position: relative;
  height: auto;
}

.affUl {
  list-style: inherit;
  padding-left: 50px;
}

.bestPlace {
  color: darkslategray !important;
  margin: 0;
  margin-bottom: 25px;
}

.byJoin {
  color: darkslategray !important;
  margin: 0;
  margin-bottom: 25px;
}

.affiliateLast {
  background-image: linear-gradient(to bottom, #41a6df, #8cb9e9, #bdcdf1, #e2e5f7, #ffffff);
  text-align: center;
}

.affiliateLast p {
  color: darkslategray;
}

.jNow a {
  text-decoration: none !important;
  color: #41a6df !important;
}

.affiliateLast h1 {
  text-shadow: 1px 1px 1px #fff;
}

.affiliateLast strong {
  color: darkslategray !important;
}

.affUl li {
  padding-bottom: 15px;
  color: darkslategray;
}

.affUl li:last-child {
  padding-bottom: 0;
}

.affiliateWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 4px 6px black);
}

.affiliateFirst {
  background-color: #fff;
}

.affiliateSecond {
  background: #ededed;
}

.affiliateWrapper h1 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  margin: 0;
  line-height: 60px;
  letter-spacing: 0.1px;
  white-space: nowrap;
}

.affiliateFirst p {
  color: darkslategray;
}

.difMar {
  margin-bottom: 24px;
}

.imgHolder {
  text-align: center;
}

.affiliateWrapper h1 i {
  color: #41a6df;
  font-style: normal;
}

.wrapFlex {
  display: flex;
  width: 100%;
}

.wrapCol p {
  color: darkslategray;
}

.wrapCol h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.wrapP {
  margin-top: 0;
}

.wrapCol {
  width: 50%;
  padding: 0 10px;
}

.imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, .6);
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}

.contentWrapper {
  width: 100%;
}

@media (max-width: 520px) {
.contentWrapper form { 
  width: 100% !important;
  margin-right: 0px !important;
}

.contentWrapper {
  position: relative;
}

.contentWrapper > div:first-of-type {
  height: 400px;
  width: 100% !important;
  margin: 35px 0px 20px !important;
}}

.contentWrapper form {
  width: 50%;
  margin-right: 15px;
}

.contentWrapper label {
  font-size: 20px;
}

.contentWrapper input {
  margin-bottom: 30px;
  font-size: 17px;
}

.contentWrapper textarea {
  padding: 0;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 17px;
}

.staticPageWrapper h1 {
	margin-bottom: 55px !important;
}

.contentWrapper > div:first-of-type {
    width: 50%;
    margin-left: 15px;
}

@media (max-width: 800px) {
  .affiliateWrapper {
    display: none;
  }

  .wrapFlex {
    flex-wrap: wrap;
  }

  .wrapCol {
    width: 100%;
  }

  .wrapFlex .wrapCol:first-child {
    padding-bottom: 50px;
  }

  .flexSection {
    display: none;
  }

  .jNow {
    margin-top: 15px;
  }

  p {
    line-height: 30px !important;
  }

  .affUl {
    padding-left: 40px;
  }
}