.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalDivider {
  width: 100%;
}

.totalPrice {
  font-weight: bold;
}
