.root {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin-left: -20;
  margin-right: -20;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding-top: 5px;
  padding-bottom: 5px;
  @media (--viewportLarge) {
    margin: 0;
  }
}

.gridList {
  flex-wrap: nowrap;
  // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
  transform: translateZ(0);
}
