.title,
.receipt {
  margin: 1rem 1rem 2rem 1rem;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin: 1rem 1rem 2rem 1rem;
}

.avatarWrapper {
  display: block;
  flex-basis: 48px;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}
