@import '../../marketplace.css';

.title {
  margin: 35px 24px 0 24px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin: 24px 24px 0 24px;
}

.bookingBreakdownTitle {
  margin: 47px 24px 0 24px;
  color: var(--matterColorAnti);
}

.receipt {
  margin: 13px 24px 0 24px;
}
