@import '../../marketplace.css';

.root {

}

.title {
  margin: 28px 24px 0 24px;
}

.mainTitle {
  display: block;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin: 24px 24px 47px 24px;
}

.transitionDate {
  white-space: nowrap;
}

.bookingBreakdownContainer {
  margin-bottom: 40px;
  padding: 0 24px;
}

.bookingBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 5px;
  margin-bottom: 14px;
  @media (--viewportMedium) {
    margin-top: 5px;
    margin-bottom: 14px;
  }
}

.receipt {
}
