@import '../../marketplace.css';

:root{
  --topMarginMobileMenu: 96px;
  --buttonHeight: 61px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 24px;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  flex-basis: var(--buttonHeight);
  flex-shrink: 0;
  padding-bottom: 24px;
}

.avatar {
  /* Layout */
  flex-shrink: 0;
  margin: var(--topMarginMobileMenu) 0 24px 0;
}

.greeting {
  /* Font */
  @apply --marketplaceH1FontStyles;

  margin-bottom: 12px;
}

.logoutButton {
  /* Logout font is smaller and gray since the action is not recommended. */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);

  /* Position component */
  width: initial;
  margin: 4px 0 6px 0;
  padding: 0;
}

.inbox {
  /* Font */
  @apply --marketplaceH1FontStyles;
  color: var(--marketplaceColor);

  margin-top: auto;
  margin-bottom: 24px;
}

.createNewListingLink {
  @apply --marketplaceButtonStyles;
}

.authenticationGreeting {
  /* Font */
  @apply --marketplaceH1FontStyles;

  margin-bottom: 24px;
  margin-top: var(--topMarginMobileMenu);
}
.authenticationLinks {
  white-space: nowrap;
}

.signupLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}
.loginLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}
