@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 24px;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Position content */
  margin-top: 24px;
}

.footer {
  flex-basis: 66px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.avatar {
  flex-shrink: 0;
  margin-top: 96px;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-color: var(--matterColorAnti);
  color: var(--matterColorLight);

  /* Font */
  composes: h1Font from '../../marketplace.css';
}

.greeting {
  composes: h1Font from '../../marketplace.css';
}

.logoutButton {
  /* Position component */
  margin: 6px 0;
  width: initial;

  /* Logout font is smaller and gray since the action is not recommended. */
  composes: h3Font from '../../marketplace.css';
  color: var(--matterColorAnti);
}

.inbox {
  margin-top: auto;
  margin-bottom: 24px;

  /* Font */
  composes: h1Font from '../../marketplace.css';
  color: var(--marketplaceColor);
}

/* TODO createNewListingLink camouflages as a button. */
.createNewListingLink {
  display: block;
  padding: 21px;
  background-color: var(--marketplaceColor);
  border-width: 0;
  border-radius: var(--borderRadius);

  /* Font */
  composes: buttonFont from '../../marketplace.css';
  color: var(--matterColorLight);
  text-align: center;

  /* Dimensions */
  width: 100%;

  /* Hovers */

  &:enabled {
    cursor: pointer;
  }
  &:enabled:hover {
    background-color: var(--marketplaceColorDark);
    text-decoration: none;
  }
  &:enabled:active {
    background-color: var(--marketplaceColorLight);
  }
  &:disabled {
    background-color: var(--matterColorAnti);
    cursor: auto;
  }
}

.authenticationGreeting {
  composes: h1Font from '../../marketplace.css';
  margin-bottom: 24px;
}
.authenticationLinks {
  white-space: nowrap;
}

.signupLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}
.loginLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}
