@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

.user {
  display: flex;
  flex-direction: row;
  flex-basis: 80px;
}

.content {
  flex-grow: 1;
}

.footer {
  flex-basis: 80px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-color: var(--matterColorAnti);
  color: var(--matterColorLight);

  /* Font */
  composes: h2Font from '../../marketplace.css';
}

.createNewListingLink {
  font-size: 14px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.authenticationLinks {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-size: 20px;
}

.signupLink {
  margin-right: 1rem;
  text-decoration: none;
}
.loginLink {
  text-decoration: none;
}
