@import '../../marketplace.css';

.logoMobile {
  display: block;
  max-width: 150px;
  width: auto;
  height: auto;
  object-fit: contain;

  & path {
    fill: var(--marketplaceColor);
  }
}

.logoDesktop {
  display: block;
  max-width: 150px;
  width: auto;
  height: auto;
  object-fit: contain;

  & path {
    fill: var(--marketplaceColor);
  }
}