@import '../../marketplace.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
    box-shadow: 4px 6px 25px 1px rgba(0, 0, 0, 0.46);
  }
}

.yotiBadge {
   position: absolute;
   z-index: 1;
   top: 0;
   right: 0;
   text-transform: capitalize;
   color: rgba(0,0,0,.8);
   padding: 5px 18px;
   border-bottom-right-radius: 3px;
   font-weight: 600;
   font-size: 16px;
   background: #c9bd9c;
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  width: 100%;
}

.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 15px;
  background: #c9bd9c;
  padding: 15px;
  align-items: center;
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}

.priceValue {
  color: rgba(0,0,0,.8);
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: rgba(0,0,0,.8);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  width: 100%;
  text-align: right;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: #000;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.authorInfo {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: rgba(0, 0, 0, .8);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.cardCategory {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-transform: capitalize;
  color: rgba(0, 0, 0, .8);
  padding: 5px 18px;
  border-bottom-right-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  background: #c9bd9c;
}

.categoryImage {
  height: 24px;
  position: absolute;
  transform: rotate(120deg);
  left: -5px;
  top: -5px;
  z-index: 50;
}

.verifiedBy {
  height: 16px;
  margin-right: 7px;
  position: relative;
  bottom: 3.71px;
}

.serviceType{
  background: #c9bd9c;
  color: rgba(0, 0, 0, .8);
  padding: 5px 10px;
  font-size: 16px;
}

.serviceType > span{
  max-width: 300px;
  word-break: break-all;
}

.serviceType span span{
  padding: 5px;
}