@import '../../marketplace.css';

.root {
  background-color: var(--matterColorLight);
}
.content {
  width: calc(100% - 48px);
  margin: 12px 24px 24px 24px;

  @media (--viewportMedium) {
    max-width: 565px;
    margin: 55px auto 56px auto;
  }
}

.headingContainer {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-right: 24px;
  hyphens: auto;
  margin-bottom: 18px;
}

.accountTypeHeading {
  /* Font */
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  display: inline-block;

  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 3px;
  padding-bottom: 3px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.accountType {
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  margin-left: 8px;
  display: inline-block;

}

.profileLink {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceH5FontStyles;

  display: inline-block;
  width: auto;
  min-height: auto;
  height: 41px;

  float: right;
  flex-shrink: 0;

  margin: 8px auto 18px 0;
  padding: 9px 16px 8px 16px;

  @media (--viewportMedium) {
    margin: 12px auto 28px 0;
  }
}
