@import '../../marketplace.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto 64px;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
  }
}

@media (max-width: 760px) {
  .whatwedoBg .whatwedoTitle:nth-child(2) {
    display: none;
  }

  .headTitle {
    line-height: 1.3;
  }
}

.badgeImgs {
  height: 35px;
  margin-right: 7px;
}

.badgeTextFirst {
  margin-right: 35px;
  font-weight: 1000;
  font-size: 20px;
}

.badgeText {
  font-weight: 1000;
  font-size: 20px;
}

.whatwedoBg .whatwedoTitle:nth-child(2) {
  margin-top: 45px;
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}

.whatwedoBg {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(./main-image.jpg);
  padding: 120px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
}

.whatwedoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.whatwedoTitle h2 {
  font-size: 40px !important; 
  padding: 0;
  margin: 0;
}

.reveal {
  margin: 0 20px;
  overflow: hidden;
}

.whatwedoUl {
  margin: 0;
}

.whatwedoUl li {
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.whatwedoWrapper{
  width: 100%;
  display: flex;
}

.whatwedoLeft {
  width: 20%;
  margin: 0;
}

.whatwedoRight {
  width: 80%;
  padding-left: 30px;
}

.whatwedoRight h2 {
  margin-top: 0px !important;
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: 50px auto 35px auto;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.trustFollow {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.trustFollow img {
  height: 40px;
}

.trustFb, .trustTw {
  width: 50%;
  float: left;
}

.followLeft {
  width: 20%;
}

.followRight {
  width: 80%;
  padding-left: 30px;
}

.pawImg {
  height: 21px;
  position: relative;
  bottom: 5px;
  margin-right: 4px;
}

.whatwedoLeft li {
  margin-bottom: 5px;
  font-size: 22px;
  cursor: pointer;
}

.whatwedoLeft span {
  position: relative;
  left: 30px;
  bottom: 2px;
}

.headTitle{
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}
.headTitle .banner{
  color:  #41a6df; 
  font-weight: 1000;
}
@media (max-width: 750px) {
  .trustTw, .trustFb {
    width: 100% !important;
  }

  .trustFb {
    margin-bottom: 40px;
  }
}

@media (max-width: 959px) {
  .followLeft {
    display: none;
  }

  .followRight {
    width: 100% !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 500px) and (max-width: 650px) {
  .whatwedoLeft {
    width: 35% !important;
  }

  .whatwedoRight {
    width: 65% !important;
  }
}

@media (max-width: 500px) {
  .whatwedoWrapper {
    display: inherit !important;
  }

  .whatwedoLeft {
    width: 100%;
    margin-bottom: 30px;
  }

  .whatwedoRight {
    width: 100%;
    padding-left: 0px !important;
  }
}

.choose {
  text-decoration: none !important;
}

.choose button:hover {
  background: #c9bd9c;
  text-shadow: 1px 1px 1px darkslategrey;
}
