@import '../../styles/propertySets.css';

.root {
  position: relative;
  padding-top: 24px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--matterColorNegative);
}

.rootCategory {
  padding: 0;
  border-bottom: none;

  & > .filterLabel {
    margin: 0;
    padding: 0;
  }
}

.filterLabel,
.filterLabelSelected {
  @apply --marketplaceH3FontStyles;

  /* Baseline adjustment for label text */
  margin-top: 0;
  margin-bottom: 12px;
  padding: 4px 0 2px 0;
}

.filterLabel {
  color: var(--matterColorDark);
}

.filterLabelSelected {
  color: var(--marketplaceColor);
  padding: 0;
  margin: 0;
}

.filterLabelNotSelected {
  opacity: 0.5;
  cursor: not-allowed;

  & .labelButtonWithImg {
    pointer-events: none;
  }
}

.labelButton {
  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
}

.labelButtonWithImg {
  width: 100%;

  & img {
    width: 100%;
    height: 218px;
    object-fit: cover;
  }

  & span {
    display: block;
    text-align: center;
    font-weight: var(--fontWeightRegular);
    font-size: 14px;
    line-height: 21px;
  }
}

.clearButton {
  @apply --marketplaceH5FontStyles;
  font-weight: var(--fontWeightMedium);
  color: var(--matterColorAnti);

  /* Layout */
  display: inline;
  float: right;
  margin-top: 6px;
  padding: 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  &:focus,
  &:hover {
    color: var(--matterColor);
  }
}

.clearCategoryButtonMobile {
  position: absolute;
  right: 0;
}

.plain {
  width: 100%;
  display: none;

  & :global(.DayPicker_transitionContainer__horizontal) {
    min-height: 311px;
  }
}

.isOpen {
  display: block;
}

.categorypPlain {
  display: none;
}