@import '../../styles/customMediaQueries.css';

.layoutWrapperMain {
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.root {
  composes: marketplaceModalRootStyles from global;
  composes: defaultBackgroundImageForDesktop from global;
}

.content {
  composes: marketplaceModalBaseStyles from global;
}

.form {
  composes: marketplaceModalFormRootStyles from global;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
  composes: marketplaceModalHelperLink from global;
}

.helperText {
  composes: marketplaceModalHelperText from global;
}

.submitButton {
  composes: button buttonFont buttonText buttonBorders buttonColorsPrimary from global;
  margin-top: 24px;
}

.modalIcon {
  composes: marketplaceModalIconStyles from global;
}
