@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 0 0px 0;
}

.card {
  @apply --marketplaceInputStyles;

  /* Layout */
  padding: 8px 0 6px 0;
  height: 36px;

  /* Border */
  border-bottom-color: var(--attentionColor);

  @media (--viewportMedium) {
    height: 35px;
    margin-bottom: 24px;
  }
  @media (--viewportLarge) {
    height: 42px;
    padding: 6px 0 14px 0;
    margin-bottom: 0;
  }
}

.cardSuccess {
  border-bottom-color: var(--successColor);
}

.cardError {
  border-bottom-color: var(--failColor);
}

.submitContainer {
  margin-top: auto;

  @media (--viewportLarge) {
    margin-top: 132px;
  }
}

.paymentInfo {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 42px;

  @media (--viewportLarge) {
    /* TODO this is ugly overwrite to fix unconsistent font styles */
    font-size: 14px;
    padding: 0;
  }
}

.submitButton {
  margin-top: 21px;

  @media (--viewportLarge) {
    margin-top: 18px;
  }
}
