@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 0 0px 0;
}

.card {
  @apply --marketplaceInputStyles;

  /* Layout */
  padding: 8px 0 6px 0;
  height: 36px;

  /* Border */
  border-bottom-color: var(--attentionColor);
}

.cardSuccess {
  border-bottom-color: var(--successColor);
}

.cardError {
  border-bottom-color: var(--failColor);
}

.submitContainer {
  margin-top: auto;
}

.paymentInfo {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 42px;
}

.submitButton {
  margin-top: 21px;
}
