<html>
  <body>
    {{#with transaction}}
    <h1>How was your experience with {{provider.display-name}}'s Patch? Why not write a review!</h1>

    <p>You recently booked {{provider.display-name}}'s '{{listing.title}}' with HotPatch. We would really appreciate it if you left a review of your experience. Reviews are important part of the {{marketplace.name}} community, so that both Customers and Hosts can have more confidence with either the Patch they book or the professionals booking their Patch.</p>

    <p><a href="{{marketplace.url}}/order/{{url-encode id}}/details">Leave a review</a></p>
    {{/with}}

    <hr />
    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>