.title {
  margin: 1rem;
}

.tab {
  float: left;
  margin-left: 1rem;
  font-size: 20px;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.activeTab {
  font-weight: bold;
  text-decoration: underline;
}
