@import '../../marketplace.css';

.mobileTopbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: none;

  @media (--desktopViewport) {
    display: none;
  }
}

.heading {

  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 24px 0 24px;

  border-top-width: 1px;
  border-top-color: var(--matterColorNegative);
  border-top-style: solid;
  background-color: var(--matterColorLight);
  box-shadow: var(--boxShadow);
}

.title {

  /* Font */
  @apply --marketplaceH1FontStyles;
  color: var(--matterColor);

  /* Layout */
  margin-top: 0;
  margin-bottom: 0;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tabs {
  padding-top: 11px;
}

.error {
  color: red;
  margin: 24px;
}

.noResults {
  margin: 0 24px;
}

.itemList {
  margin: 0;
  padding: 18px 24px;
}

.listItem {
  /* Layout */
  margin-bottom: 11px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--matterColorNegative);

  &:last-child {
    border-bottom: none;
  }
}

.itemLink {
  /* Layout */
  display: flex;
  padding-bottom: 11px;

  /* Remove text underline from this link */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.itemAvatar {
  margin-right: 8px;
  width: 43px;
  height: 43px;
}

.itemAvatarImage {
  border-radius: 50%;
}

.rowNotificationDot {
  width: 6px;
  height: 6px;
  margin-top: 10px;
  margin-right: 8px;
}

.notificationDot {
  color: var(--matterColorLight);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--failColor);
}

.itemInfo {
  /* Layout */
  flex-grow: 1;
  flex: 1;
  flex-direction: column;
}

.itemUsername {
  /* Font */
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  line-height: 18px;

  margin-top: 3px;
  margin-bottom: 0px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.itemTimestamp {
  /* Font */
  @apply --marketplaceH5FontStyles;

  margin-top: 0px;
  margin-bottom: 0px;
  @media (--desktopViewport) {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.itemState {
  /* Font */
  @apply --marketplaceH5FontStyles;

  margin-top: 4px;
  margin-bottom: 0px;
  @media (--desktopViewport) {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.pagination {
  margin: auto 24px 0 24px;
}

/* Transaction status affects to certain font colors and weights */

.namePending {
  font-weight: var(--fontWeightBold);
  margin-top: 1px;
  line-height: 18px;
  margin-bottom: 3px;
}

.timePending {
  color: var(--matterColor);
}

.stateRequested,
.statePending {
  font-weight: var(--fontWeightSemiBold);
  color: var(--attentionColor);
}

.stateAccepted {
  font-weight: var(--fontWeightSemiBold);
  color: var(--successColor);
}
.stateDeclined,
.stateDelivered {
  color: var(--matterColorAnti);
}

.nameRequested,
.nameDeclined,
.nameAccepted,
.nameDelivered {
  font-weight: var(--fontWeightMedium);
}

.timeRequested,
.timeDeclined,
.timeAccepted,
.timeDelivered {
  color: var(--matterColorAnti);
}
