{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Reminder about your upcoming PetCrib Booking</h1>
    
    {{#with transaction}}
    <p>
      Your upcoming booking is starting on {{#eq  protected-data.singlebooking}}
       {{> format-date date=booking.start}} to {{> format-date date=booking.end}}
     {{else}}
     {{> format-date date=booking.start}} 
      {{/eq}} with {{provider.display-name}}.
    </p>
  
    <p> 
     Remember to reach out to your Host to exchange any necessary information if you haven't done so already. 
    </p>
    <p>A reminder of the cancellation policy can be viewed <link>.</p>
    {{/with}}
   

    <!-- <p><a href="{{marketplace.url}}">Try to book something else instead</a></p> -->

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact the {{marketplace.name}} team.</p>
  </body>
</html>