@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCards {
  padding: 0 24px 24px 24px;
}

.listingCard {
  margin-bottom: 36px;
}

.pagination {
  margin-top: auto;
  background-color: var(--matterColorLight);
  padding: 0 24px;
}
