@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCards {
  padding: 0 24px 24px 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 36px 36px 36px;
  }
}

.listingCard {
  margin-bottom: 36px;
  flex-basis: 100%;

  @media screen and (min-width: 1024px) {
    /**
     * resultPanelWidthRatio = 0.625 aka 62.5%
     * ((columnCount * ListingCardWidth + gutter * (columnCount + 1)) / resultPanelWidthRatio = 1000
     * min-width: (2 * 296 + 24 * 2) / 0.625 = 1024
     * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns * gutterWidth / columnCount))
     */
    flex-basis: calc(50% - 12px);
    margin-right: 24px;
  }

  @media screen and (min-width: 1921px) {
    /**
     * resultPanelWidthRatio = 0.625 aka 62.5%
     * ((columnCount * ListingCardWidth + gutter * (columnCount + 1)) / resultPanelWidthRatio = 1000
     * min-width: (3 * 368 + 24 * 4) / 0.625 = 1920
     * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns * gutterWidth / columnCount))
     */

    flex-basis: calc(33.33% - 16px);
    margin-right: 24px;
  }
}

/* Remove margin-right from listingCards on the last column */

.listingCard:nth-of-type(2n) {
  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    margin-right: 0;
  }
}

.listingCard:nth-of-type(3n) {
  @media screen and (min-width: 1921px) {
    margin-right: 0;
  }
}


.pagination {
  margin-top: auto;
  background-color: var(--matterColorLight);
  padding: 0 24px;
}
