@import '../../marketplace.css';

.root {
  padding: 24px;

  /* Use CSS variable imported from marketplace.css */
  background-color: var(--marketplaceColor);
}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: 50px auto 90px auto;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.leftAnchors {
	width: 20%;
}

.rightContent {
	width: 80%;
	padding-left: 30px;
}

.faqRow {
	display: flex;
	width: 100%;
}

@media (max-width: 600px) {
  .leftAnchors {
    display: none;
  }

  .rightContent {
    width: 100%;
    padding-left: inherit;
  }
}

@media (max-width: 500px) {
  .contentInner img {
  height: 150px;
  width: 100%;
  margin-top: 3px;
  }
}

.leftAnchors ul, .leftAnchors li:nth-child(1) {
	margin-top: 0px !important;
}

.leftAnchors li {
	margin-top: 15px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftAnchors a {
  color: #444;
}

.leftAnchors a:hover {
  text-decoration: none !important;
  color: #41a6df;
}

.stickyAnchors {
  position: sticky;
  top: 30px;
}

.wrapCollabsible {
  margin-bottom: 1.2rem;
}

input[type='checkbox'] {
  display: none;
}

.lblToggle {
 display: block;
 font-size: 20px;
 padding: 1rem;
 color: #fff;
 background: #41a6df;
 cursor: pointer;
 border-radius: 7px;
 transition: all 0.25s ease-out;
 position: relative;
 bottom: 1px;
}

.collapsibleTitle {
  position: relative;
  bottom: 1px;
}

.lblToggle:hover {
  color: #000;
}

.lblToggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
  float: right;
  position: relative;
  top: 10px;
}

.toggle:checked + .lblToggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsibleContent {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.contentInner img {
  height: 150px;
  margin-top: 3px;
}

.contentInner {
	font-size: 19px;
}

.toggle:checked + .lblToggle + .collapsibleContent {
  max-height: 100%;
}

.toggle:checked + .lblToggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsibleContent .contentInner {
  background: rgba(65, 166, 223, .2);
  border-bottom: 1px solid rgba(65, 166, 223, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.1rem 2rem;
}

.pageInfo {
  margin-bottom: 30px;
  display: flex;
}

.pageInfo span {
  font-size: 17px;
  color:  rgb(155, 155, 155) !important;
}

.breadArrow {
  position: relative;
  bottom: 2px;
  margin: 0 5px;
  font-size: 12px !important;
}

.pageInfo > div:nth-child(1) {
  width: 20%;
}

.pageInfo > div:nth-child(2) {
  width: 80%;
  padding-left: 30px;
}

.pageInfo > div:nth-child(1) > span {
  font-weight: 1000;
  text-transform: uppercase;
}

.pageInfo > div > span:nth-child(2) {
  float: right;
}

.sectionContent a {
  text-decoration: none !important;
}