@import '../../marketplace.css';

/* Content is visible as modal layer */
.isOpen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  & .scrollLayer {
    min-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--matterColorBright);

    @media (--viewportMedium) {
      padding: 126px 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  & .container {
    position: relative;
    height: 100vh;

    @media (--viewportMedium) {
      -webkit-overflow-scrolling: auto;
      width: 576px;
      height: auto;
      margin: 0 auto;
      background-color: var(--matterColorBright);
      border-radius: 2px;
    }
  }
}

/* Content is explicitly hidden (this default can be overridden with passed-in class) */
/* The use case for having both .isOpen and .isClosed is ModalInMobile use case       */
/* where desktop layout should not get any styling from Modal component.              */
.isClosed {
  display: none;
}

.close {
  /* Position inside modal */
  position: absolute;
  top: 0;
  right: 0;

  /* Some content (like map) is positioning itself on top of close button without z-index handling */
  z-index: calc(var(--zIndexModal) + 1);

  /* Safari didn't know how to baseline-align svg icon and text */
  display: flex;
  align-items: flex-start;
  width: auto;

  /* Sizing (touch area) */
  padding: 23px 24px;
  margin: 0;
  border: 0;

  /* Colors */
  background-color: transparent;
  color: var(--matterColor);

  cursor: pointer;

  &:enabled:hover {
    background-color: transparent;
    color: var(--matterColorDark);
    box-shadow: none;
  }
  &:enabled:active {
    background-color: transparent;
    color: var(--matterColorDark);
  }
  &:disabled {
    background-color: transparent;
  }
}

.closeText {
  /* Font */
  @apply --marketplaceH6FontStyles;
  margin: -2.5px 0 0 0;

  @media (--viewportMedium) {
    margin-top: -1px;
  }
}

.closeIcon {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 0 4px;
  box-sizing: content-box;
}

.content {
  flex-grow: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
