@import '../../marketplace.css';

/* Content is visible as modal layer */
.isOpen {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--matterColorLight);
  margin: 0 auto;
}

/* Content is explicitly hidden (this default can be overridden with passed-in class) */
/* The use case for having both .isOpen and .isClosed is ModalInMobile use case       */
/* where desktop layout should not get any styling from Modal component.              */
.isClosed {
  display: none;
}

/* This class is passed to page layout level to fix scrolling while modal is open */
.modalIsOpen {
  height: 100vh;
  overflow: hidden;
}

/* Header section for Modal */
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title {
  margin: 24px;
  flex-grow: 1;
}

.close {
  display: flex;
  align-items: baseline;
  width: auto;
  background-color: transparent;
  padding: 24px;
  color: var(--matterColor);
  border: 0;
  composes: tinyBoldFont from '../../marketplace.css';

  &:enabled:hover {
    background-color: transparent;
    color: var(--matterColorDark);
  }
  &:enabled:active {
    background-color: transparent;
    color: var(--matterColorDark);
  }
  &:disabled {
    background-color: transparent;
  }
}

.closeIcon {
  margin-left: 12px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
