@import '../../marketplace.css';

/* Content is visible as modal layer */
.isOpen {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--matterColorLight);
  margin: 0 auto;
}

/* Content is explicitly hidden (this default can be overridden with passed-in class) */
/* The use case for having both .isOpen and .isClosed is ModalInMobile use case       */
/* where desktop layout should not get any styling from Modal component.              */
.isClosed {
  display: none;
}

/* This class is passed to page layout level to fix scrolling while modal is open */
.modalIsOpen {
  height: 100vh;
  overflow: hidden;
}

.close {
  /* Position inside modal */
  position: absolute;
  top: 0;
  right: 0;

  /* Safari didn't know how to baseline-align svg icon and text */
  display: flex;
  align-items: flex-start;
  width: auto;

  /* Sizing (touch area) */
  padding: 24px;
  margin: 0;
  border: 0;

  /* Colors */
  background-color: transparent;
  color: var(--matterColor);

  cursor: pointer;

  &:enabled:hover {
    background-color: transparent;
    color: var(--matterColorDark);
    box-shadow: none;
  }
  &:enabled:active {
    background-color: transparent;
    color: var(--matterColorDark);
  }
  &:disabled {
    background-color: transparent;
  }
}

.closeText {
  /* Font */
  composes: h6Font from '../../marketplace.css';
  margin: 0;
}

.closeIcon {
  display: inline-block;
  margin-left: 12px;
  padding: 2px 0 4px;
  box-sizing: content-box;
}

.content {
  flex-grow: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
