.markdownImage {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fieldImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
