@import '../../marketplace.css';

.pageRoot {}

.listing {
  display: block;
}

.bookable {
  padding-bottom: 80px;
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.avatarWrapper {
  /* Position (over the listing image)*/
  margin-left: 24px;
  margin-top: -30px;

  /* Rendering context to the same lavel as listing image */
  position: relative;

  /* Layout */
  display: block;
  width: 61px;
  height: 61px;
}

.avatar {
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Layout */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-color: var(--matterColorAnti);
  color: var(--matterColorLight);

  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.heading {
  margin-top: 23px;
  margin-bottom: 35px;
  padding: 0 24px;
}

.title {
  /* Font */
  @apply --marketplaceH2FontStyles;
  color: var(--matterColor);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.author {
  width: 100%;
}

.descriptionContainer {
  padding: 0 24px;
  margin-bottom: 35px;
}

.descriptionTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 13px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 13px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.locationContainer {
  padding: 0 24px;
  margin-bottom: 35px;
}

.locationTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 24px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.map {
  height: 325px;
  width: 100%;
  background-color: #eee;
}

.openBookingForm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 18px 24px;
  background-color: var(--matterColorLight);
  box-shadow: var(--boxShadowTop);
  display: flex;
}

.priceContainer {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 22px;
  padding: 5px 12px;
}

.priceValue {
  /* Font */
  @apply --marketplaceH2FontStyles;
  color: var(--matterColor);

  margin-top: 0;
  margin-bottom: 0px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perNight {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  margin-top: 0;
  margin-bottom: 0px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bookButton {
  @apply --marketplaceButtonStylesPrimary;
}

.bookingForm {
  margin: 96px 24px 24px 24px;
}


.bookingModalTitle {
  margin: 1rem 0;
}
