.contactForm input, .contactForm textarea {
	border-bottom-color: #4a4a4a;
}

.contactForm input:hover,
.contactForm textarea:hover, 
.contactForm input:focus,
.contactForm textarea:focus {
	border-bottom-color: #575757;
}


.contactForm label {
	font-family: 'sofiapro', Helvetica, Arial, sans-serif;
}

.contactForm button {
	font-family: 'sofiapro', Helvetica, Arial, sans-serif !important;
	letter-spacing: 0.7px;
}