@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 35px 24px 98px 24px;
}

.form {
  margin-top: 49px;
}

.error {
  margin-top: 24px;
  color: var(--failColor);
}
