
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Booking Cancellation</h1>

    {{#with transaction}}
    <p>
      You have decided to cancel your booking request with {{provider.display-name}}  {{#eq  protected-data.singlebooking}}
      from {{> format-date date=booking.start}} to {{> format-date date=booking.end}}.
      {{else}}
       for  {{> format-date date=booking.start}}.
      {{/eq}}
      
    </p>
    
    <p> 
      100% of the hosting fee will be refunded to your nominated account since the cancellation 
      was made before 48 hrs from start date of the service.
    </p>
    {{/with}}
  

     <p><a href="{{marketplace.url}}">You can revisit the PetCrib site to search for another Pet Host.</a></p> 

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>