@import '../../marketplace.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error {
  color: var(--failColor);
}

.locationAutocompleteInput {
  height: 36px;
  padding-left: 0;
  border-bottom: 2px solid var(--attentionColor);

  &:hover,
  &:focus {
    border-bottom-color: var(--matterColorDark);
    outline: none;
  }
}

.locationAutocompleteInputIcon {
  display: none;
}

.predictionsRoot {
  position: absolute;
  width: 100%;
  padding-bottom: 98px;
  top: 36px;
  left: 0;
  background-color: var(--marketplaceColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: var(--zIndexPopup + 1);
}

.validLocation {
  border-bottom-color: var(--successColor);
}

.building {
  flex-shrink: 0;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 28px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}

