@import '../../marketplace.css';

.root {
  padding: 0 24px;
}

.nowrap {
  white-space: nowrap;
}

.header {
  display: flex;
  margin-top: 28px;
  margin-bottom: 24px;
}

.title {
  flex: 1;
  margin: 0 12px 0 0;

  @media (--viewportMedium) {
    margin: 0 12px 0 0;
  }
}

.message {
  margin: 0 0 47px 0;
}

.avatarWrapper {
  width: auto;
  margin-top: 7px;
}

.avatar span {
  margin-bottom: 5px;
}

.bookingBreakdownContainer {
  margin-bottom: 40px;
}

.bookingBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 5px;
  margin-bottom: 14px;
  @media (--viewportMedium) {
    margin-top: 5px;
    margin-bottom: 14px;
  }
}
