.root {
  padding: 24px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}

.nowrap {
  white-space: nowrap;
}

.title {

}

.message {
  display: flex;
  flex-direction: column;
}

.receipt {
  margin-top: 24px;
}

.avatarWrapper {
  display: block;
  flex-basis: 48px;
  width: 48px;
  height: 48px;
}
