@import '../../marketplace.css';

:root {
  --avatarSize: 61px;
}

.root {
  padding: 24px;
}

.nowrap {
  white-space: nowrap;
}

.header {
  display: flex;
}

.title {
  flex: 1;
  margin: 0 12px 0 0;

  @media (--desktopViewport) {
    margin: 0 12px 0 0;
  }
}

.message {
  display: flex;
  flex-direction: column;
}

.receipt {
  margin-top: 24px;
}

.avatarWrapper {
  width: var(--avatarSize);
}

.avatar {
  width: var(--avatarSize);
  height: var(--avatarSize);
}
