@import '../../marketplace.css';

.pageTitle {
  text-align: center;
  display: block;
}

.bodyUnorderedList {
  list-style: circle;
}

.staticPageWrapper {
  margin: auto;
}

.coverImage {
  width: 100%;
  height: 528px;
  object-fit: cover;
  margin: 0 0 40px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 24px auto;
  }

  ul {
    list-style: circle;
  }

}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}
