@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.title {
  @apply --marketplaceModalTitle;
  margin: 28px 0 17px 0;

  @media (--viewportMedium) {
    margin: 28px 0 24px 0;
  }
}

.button {
  @apply --marketplaceButtonStylesPrimary;

  margin-top: 24px;
  align-self: stretch;

  @media (--viewportMedium) {
    margin-top: 72px;
  }
}

.error {
  color: var(--failColor);
  margin: 23px 0 24px 0;

  @media (--viewportMedium) {
    margin: 28px 0 24px 0;
  }
}
