@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.title {
  @apply --marketplaceModalTitle;
}

.button {
  @apply --marketplaceButtonStyles;

  margin-top: 24px;
  align-self: stretch;

  @media (--viewportMedium) {
    margin-top: 72px;
  }
}

.error {
  margin-top: 24px;
  color: var(--failColor);
}
