@import '../../../../styles/customMediaQueries.css';

.baseColumn {
  max-width: var(--contentMaxWidth);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.oneColumn {
  composes: baseColumn;
}

.twoColumns {
  composes: baseColumn;

  @media (--viewportMedium) {
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  }
}

.threeColumns {
  composes: baseColumn;

  @media (--viewportMedium) {
    grid-template-columns: repeat(3, calc((100% - 2 * 32px) / 3));
  }
}

.fourColumns {
  composes: baseColumn;

  @media (--viewportMedium) {
    grid-template-columns: repeat(4, calc((100% - 3 * 32px) / 4));
  }
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}

.petGrid {
  grid-template-columns: repeat(3, calc((100% - 2 * 32px) / 3));
  padding: 64px 32px 0 32px;

  @media(max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & h3 {
    color: #e95629;
  }
}

.introSection {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  &>div {
    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }
  }

  & p {
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 40px;
    line-height: 1.33;
    font-weight: bold;
    @media(max-width: 768px) {
      font-size: 26px;
    }
  }
}


.searchBox {
  background-color: #0000005c;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  width: 65%;

  @media(max-width: 1150px) {
    width: 100%;
  }

  & label {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & select {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
  }

  & .formRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;

    & .selectForm {
      width: calc(50% - 9px);
    }
  }

  & .daysCalender {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;

    & label {
      color: #fff;
    }

    & input {
      background-color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
    }

    & .dateInput {
      width: calc(50% - 9px);
    }
  }

  & .searchButton {
    position: absolute;
    right: 5px;
    top: 4px;

    & button {
      width: 100px;
      border-radius: 50px;
      background-color: #e95629;
    }
  }
}

.serviceGrid {
  & h3 {
    color: #e95629;
  }
}

.headingServices {
  color: #e95629;

  @media(max-width: 768px) {
    font-size: 26px;
  }
}

.servicesNeedTime {
  margin-top: 22px;

  & .needServicesHeading {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 16px;
    padding-bottom: 6px;
  }

  & .servicesSelect {
    display: flex;
    justify-content: space-between;

    & .service {
      width: calc(50% - 9px);
      border: 2px solid #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 15px;

      & svg {
        width: 25px;
        height: 25px;

        & path {
          fill: #fff;
        }
      }

      & span {
        font-size: 14px;
        color: #fff;
      }
    }

    & .selected {
      background-color: #e95629;
    }
  }
}

.daysSelected {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;

  & label {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 16px;
    padding-bottom: 6px;
  }

  & .daysWeek {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    & span {
      border: 1px solid #fff;
      color: #fff;
      padding: 3px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  & .daysRight {
    width: calc(41% - 9px);

    & input {
      background-color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
}

.locationForm {
  margin-top: 22px;

  & label {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 16px;
    padding-bottom: 6px;
  }

  & .inputBox {
    & input {
      background-color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
}

.weightBox {
  display: flex;
  width: 100%;
  margin-top: 22px;

  & .weightList {
    border: 1px solid #c5c5c5;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
    cursor: pointer;

    & .weightKg {
      color: #fff;
      font-size: 14px;
      line-height: 18px;
    }

    & .weightType {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.bottomButton {
  margin-top: 22px;

  & button {
    width: 100%;
    /* background: #000; */
  }
}

.filterSearch {
  padding: 0 !important;

  &>form {
    background-color: #fff;
    margin: 0;
    border-radius: 10px;
    padding: 0 15px;
    z-index: 0;

    &>div {
      height: 50px;

      & input {
        height: 50px;
      }

      &>div {
        height: unset;

        &:nth-child(1) {
          border-radius: 10px 0 0 10px
        }
      }
    }
  }

  &>div {
    background-color: #00000000;
    padding: 0;

    &:nth-child(3) {
      margin: 15px 0 0;

      & button {
        width: 100%;
        background-color: #E95629;
        color: #fff !important;
      }
    }

    &>div {
      &:nth-child(1) {
        margin: 0;
      }

      &:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &>div {
          width: 100%;
          margin: 0;
          border: none;
          padding: 0;

          &:nth-child(1) {
            width: auto;
            z-index: 999;
            /* order: 2; */
            /* background-color: red; */
          }

          &:nth-child(2) {
            width: 300px;
            /* order: 1; */
            /* order: 1; */
            z-index: 99;
            /* background-color: green; */
          }

          &:nth-child(3) {
            width: auto;
            z-index: 0;
            /* order: 3; */
            /* background-color: pink; */
          }

          &:nth-child(4) {
            /* width: auto; */
            padding: 0;
            /* order: 4; */
            width: 100% !important;
            /* background-color: pink; */
          }

          &>div {
            & form {
              &>div {
                margin-bottom: 0;
                padding: 0;

                &>div {
                  &>div {
                    &:nth-child(2) {
                      &>div {
                        border-bottom-color: #ffffff00
                      }
                    }

                    &>div {
                      &>div {
                        &>div {
                          gap: 10px;

                          &>div {
                            background-color: #ff000000;
                            border-bottom: 3px solid #fff;

                            & input {
                              color: #fff;
                            }
                          }

                        }
                      }
                    }
                  }
                }
              }
            }

            &:nth-child(1) {
              & button {
                &:nth-child(1) {
                  /* &:hover {
                    text-decoration-color: #fff !important;
                    text-decoration: underline;
                  } */

                  & span {
                    color: #fff;
                  }
                }

                &:nth-child(2) {
                  color: #fff;
                }
              }
            }

            &:nth-child(2) {
              display: flex;
              gap: 10px;
              height: auto;
              padding-bottom: 10px;

              & button {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                width: fit-content;
                border-radius: 10px;
                height: 46px;
                padding: 5px 20px;
                background: rgba(109, 80, 114, 0.1);
                border: 1.5px solid rgb(255 255 255);
              }

              & fieldset {
                margin: 0;
                border: none;
                padding: 0;

                & ul {
                  display: flex;
                  gap: 10px;
                }

                & li {
                  position: relative;
                  cursor: pointer;
                  padding: 0;

                  @media(max-width: 800px) {
                    width: 100%;
                  }

                  & {
                    &:hover {
                      cursor: pointer;
                      transition: all ease 0.5s;

                      &>span {
                        &>input {
                          cursor: pointer;
                        }

                        &>label {
                          cursor: pointer;
                          background-color: #E95629;

                          &>span {
                            color: #fff;
                          }
                        }
                      }
                    }

                    &>span {
                      &>input {

                        &:checked+label,
                        &:hover {
                          background-color: #E95629;
                        }
                      }
                    }
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  &>span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    &>input {
                      position: absolute;
                      top: 0;
                      left: 0;
                      opacity: 0;
                      width: 100%;
                      height: 100%;

                      &:checked+label,
                      &:hover {
                        width: 100%;
                        color: #fff;
                        font-weight: 500;
                        justify-content: center;

                        &>span {
                          color: #fff !important;
                          font-weight: 500;

                          &:first-child {
                            opacity: 0;
                          }
                        }
                      }
                    }

                    &>label {
                      background: rgba(109, 80, 114, 0.1);
                      border: 1.5px solid rgb(255 255 255);
                      border-radius: 10px;
                      text-align: center;
                      height: 48px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                      color: #525961;
                      width: 100%;
                      height: 100%;
                      padding: 10px;
                      margin: 0;
                      min-width: 120px;
                      min-height: 40px;

                      &>span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 23px;
                        text-transform: capitalize;
                        height: unset;
                        margin: 0;
                        color: #fff;

                        &:first-child {
                          opacity: 0;
                          width: 0;
                        }
                      }
                    }
                  }
                }
              }
            }

            &:nth-child(3) {
              /* background-color: red; */

              & fieldset {
                margin: 0;
                border: none;
                padding: 0;

                & ul {
                  display: flex;
                  gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}