.locationInput {
  width: 100%;
  background-color: white;

  /* Font */
  font-size: 16px;
  letter-spacing: -0.4px;
  font-weight: bold;
}

.locationButton {
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: right;
}

.searchIcon {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}
