.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.name {
  display: flex;
  justify-content: space-between;
}

.firstNameRoot,
.lastNameRoot {
  width: calc(50% - 0.5rem);
}

.button {
  align-self: stretch;
  margin-bottom: 20px;
}
