.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.name {
  display: flex;
}

.firstName {
  display: inline-block;
  width: 35%;
  margin-right: 1rem;
}

.lastName {
  display: inline-block;
  width: calc(100% - 35% - 1rem);
}

.button {
  align-self: stretch;
  margin-bottom: 20px;
}
