
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>
      customer profile reviews 
    </h1>

    {{#with transaction}}
    <p>
      email confirmation serving as a reminder   {{customer.display-name}} profile reviews , and it will expire by {{> format-date date=booking.start}}.
      
    </p>
  
    {{/with}}
   

    <!-- <p><a href="{{marketplace.url}}">Try to book something else instead</a></p> -->

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>
