.addImageWrapper {
  float: left;
  width: 110px;
  height: 110px;
  margin: 5px;

  &::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.addImage {
  width: 110px;
  height: 110px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0;
}

.addImageInput {
  display: none;
}

.imageRequiredWrapper {
  width: 100%;
  clear: both;
}
.imageRequiredError {
  color: red;
}

.submitButton {
  margin-top: 1rem;
}
