@import '../../marketplace.css';
/* Booking form inside modalContainer needs special handling */
/* since "inMobile" breakpoint is actually --viewportLarge */
.modalContainer {
  @apply --marketplaceModalInMobileBaseStyles;
  height: 100vh;
}
@media (--viewportMedium) {
  .modalContainer {
    flex-basis: 576px;
    height: 100%;
    padding: var(--modalPaddingMedium);
    background-color: var(--matterColorLight);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
  }
}
@media (--viewportLarge) {
  .modalContainer {
    padding: 20px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.modalHeading {
  margin-top: 89px;
  margin-bottom: 36px;
  padding: 0 24px;
}
@media (--viewportMedium) {
  .modalHeading {
    padding: 0;
  }
}

.title {
  /* Font */
  @apply --marketplaceH1FontStyles;
  color: var(--matterColor);
  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
@media (--viewportMedium) {
  .title {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.author {
  width: 100%;
  @apply --marketplaceH4FontStyles;
  margin-top: 7px;
  margin-bottom: 0;
}
@media (--viewportMedium) {
  .author {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--matterColor);
  }
}

.bookingHeading {
  display: none;
}
@media (--viewportLarge) {
  .bookingHeading {
    display: block;
    margin-top: -2px;
    margin-bottom: 33px;
  }
}

.bookingTitle {
  /* Font */
  color: var(--matterColor);
  margin-top: 0;
  margin-bottom: 9px;
  display: none;
}

.bookingHelp {
  display: none;
  @apply --marketplaceH5FontStyles;
}
@media (--viewportMedium) {
  .bookingHelp {
    color: var(--matterColor);
    display: block;
    margin-top: 0;
  }
}
@media (--viewportLarge) {
  .bookingHelp {
    color: var(--matterColor);
    display: block;
    margin-top: 0;
    font-size: 24px;
  }
}

.modalRoot {
  background-color: white;
}

.bookingForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0 84px 0;
}
@media (--viewportMedium) {
  .bookingForm {
    margin: 0;
    min-height: 400px;
  }
}
@media (--viewportLarge) {
  .bookingForm {
    min-width: 312px;
    min-height: auto;
  }
}

.bookingDatesSubmitButtonWrapper {
  flex-shrink: 0;
  padding: 0 24px 24px 24px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--matterColorLight);
}
@media (--viewportMedium) {
  .bookingDatesSubmitButtonWrapper {
    padding: 0;
    width: 100%;
    position: static;
    bottom: unset;
    background-color: transparent;
  }
}

.openBookingForm {
  /* Ensure that mobile button is over Footer too */
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 18px 24px 18px 16px;
  background-color: var(--matterColorLight);
  box-shadow: var(--boxShadowTop);
  display: flex;
  align-items: center;
  justify-content: center;
  /* Contain repainting to this component only */
  /* 3D painting container helps scrolling */
  transform: translate3d(0, 0, 0);
}
@media (--viewportMedium) {
  .openBookingForm {
    padding: 18px 60px 18px 60px;
  }
}
@media (--viewportLarge) {
  .openBookingForm {
    height: 100px;
  }
}

.openBookingFormDataDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1128px;
  width: 100%;
}

.priceContainer {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 22px;
  padding: 5px 12px;
}

.priceValue {
  /* Font */
  @apply --marketplaceH2FontStyles;
  color: var(--matterColor);
  margin-top: 0;
  margin-bottom: 0px;
}
@media (--viewportMedium) {
  .priceValue {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);
  margin-top: 0;
  margin-bottom: 0px;
}
@media (--viewportMedium) {
  .perUnit {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bookButton {
  @apply --marketplaceButtonStylesPrimary;
  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  max-width: 200px;
}

.closedListingButton {
  border-left: 1px solid var(--matterColorNegative);
  width: 100%;
  padding: 15px 24px 15px 24px;
  text-align: center;
}

/*# sourceMappingURL=BookingPanel.css.map */
