@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --EditListingDescriptionForm_formMargins: {
    margin-bottom: 24px;

    @media (--viewportMedium) {
      margin-bottom: 32px;
    }
  }
  --EditListingDescriptionForm_imageWidth: 150px;
  --EditListingDescriptionForm_productMargin: 8px;
  --EditListingDescriptionForm_selectedProductBorderWidth: 2px;

}

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.title {
  @apply --EditListingDescriptionForm_formMargins;
}

.description {
  @apply --EditListingDescriptionForm_formMargins;
  flex-shrink: 0;
}

.category {
  @apply --EditListingDescriptionForm_formMargins;
}

.radioGroup {
  @apply --EditListingDescriptionForm_formMargins;
}

.radioOptions {
  display: flex;
}

.radioOption {
  margin: 0px 10px;
}

.productImagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.product {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--matterColor);
  margin: var(--EditListingDescriptionForm_productMargin);
  padding: 8px;
  width: calc(
    var(--EditListingDescriptionForm_imageWidth) +
      (2 * var(--EditListingDescriptionForm_productMargin))
  );
}

.productImage {
  width: var(--EditListingDescriptionForm_imageWidth);
  cursor: pointer;
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  background: var(--matterColorNegative); /* Loading BG color */
}

.selectedProductImage {
  border: var(--EditListingDescriptionForm_selectedProductBorderWidth) solid var(--marketplaceColor);
  /* account for border */
  width: calc(
    var(--EditListingDescriptionForm_imageWidth) +
      (2 * var(--EditListingDescriptionForm_productMargin)) + 
      (2 * var( --EditListingDescriptionForm_selectedProductBorderWidth))
  );
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
