@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.password {
  margin-top: 24px;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-top: 30px;
  }
}

.bottomWrapper {
  margin-top: auto;
  text-align: center;
}

.recoveryLink {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColor);
}

.recoveryLinkHelp {
  color: var(--matterColorAnti);
}
