.ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  & .ul {
    list-style-type: circle;

    & .ul {
      list-style-type: square;
    }
  }
}

.ol {
}

.li {
}

.li > p {
  margin: 0;
}
