.filterTitle {
  text-align: center;
}

.toListingsButton {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #9B9B9B;
  cursor: pointer;

  &:hover {
    background-color: #888;
  }
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  padding: 1em;
  color: #999;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}
