
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    <h1>Ihre Buchungsanfrage wurde akzeptiert!</h1>

    {{#with transaction}}
    <p>{{provider.display-name}} hat Ihre Buchungsanfrage für {{listing.title}} von {{> format-date date=booking.start}} bis {{> format-date date=booking.end}} angenommen.</p>

    <!--
    <p>We have charged {{> format-money money=payin-total}} from your credit card. Here's your receipt.</p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left;">Payment</th>
        </tr>
      </thead>
      <tbody>
      {{#each tx-line-items}}
        {{#contains include-for "customer"}}
          {{#eq "line-item/day" code}}
              <tr>
                <td>Price per day</td>
                <td style="text-align: right; padding-left: 20px">{{> format-money money=unit-price}}</td>
              </tr>
              {{#if seats}}
              <tr>
                <td>Days</td>
                <td style="text-align: right; padding-left: 20px">&times; {{number units}}</td>
              </tr>
              <tr>
                <td>Seats</td>
                <td style="text-align: right; padding-left: 20px">&times; {{number seats}}</td>
              </tr>
              {{else}}
              <tr>
                <td>Days</td>
                <td style="text-align: right; padding-left: 20px">&times; {{number quantity}}</td>
              </tr>
              {{/if}}
          {{/eq}}

          {{#eq "line-item/night" code}}
            <tr>
              <td>Price per night</td>
              <td style="text-align: right; padding-left: 20px">{{> format-money money=unit-price}}</td>
            </tr>
            {{#if seats}}
            <tr>
              <td>Nights</td>
              <td style="text-align: right; padding-left: 20px">&times; {{number units}}</td>
            </tr>
            <tr>
              <td>Seats</td>
              <td style="text-align: right; padding-left: 20px">&times; {{number seats}}</td>
            </tr>
            {{else}}
            <tr>
              <td>Nights</td>
              <td style="text-align: right; padding-left: 20px">&times; {{number quantity}}</td>
            </tr>
            {{/if}}
          {{/eq}}
        {{/contains}}
      {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left;">Payment total</th>
          <th style="text-align: left; padding-left: 20px;">{{> format-money money=payin-total}}</th>
        </tr>
      </tfoot>
    </table> -->

    {{/with}}

    <hr />

    <p>Sie haben diese E-Mail-Benachrichtigung erhalten, weil Sie ein Nutzer von {{marketplace.name}} sind. Wenn Sie diese E-Mails nicht mehr erhalten möchten, wenden Sie sich bitte an das {{Marktplatz.name}}-Team.</p>
  </body>
</html>
