@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.keysIconRoot {
  width: 100%;
  height: 100%;
}

.title {
  @apply --marketplaceH1FontStyles;
}

.submittedEmail {
  font-weight: bold;
}

.emailSubmittedLink {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColor);
}

.emailSubmittedLinkHelp {
  color: var(--matterColorAnti);
}
