@import '../../marketplace.css';

:root {
  --baseContent: {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 98px 24px;
    background-color: var(--matterColorLight);
    border-radius: 2px;

    @media (--viewportMedium) {
      flex-basis: 480px;
      flex-grow: 0;
      padding: 55px;
      margin-top: 7.5vh;
      margin-bottom: 7.5vh;
    }
  }
}

.root {
  @apply --backgroundImage;

  display: flex;
  flex: 1;

  @media (--viewportMedium) {
    justify-content: center;
    align-items: flex-start;
  }
}

.submitEmailContent {
  @apply --baseContent;
}

.emailSubmittedContent {
  @apply --baseContent;
  padding-bottom: 99px;

  @media (--viewportMedium) {
    padding-bottom: 62px;
    min-height: 508px;
  }
}

.emailNotVerifiedContent {
  @apply --baseContent;
  padding-top: 30px;

  @media (--viewportMedium) {
    padding-top: 53px;
    padding-bottom: 80px;
  }
}

.genericErrorContent {
  @apply --baseContent;
}

.keysIconRoot {
  width: 100%;
  height: 100%;
}

.title {
  @apply --marketplaceModalTitle;
  margin-top: 31px;
  margin-bottom: 0px;
}

.message {
  margin-top: 23px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 24px;
    margin-bottom: 0px;
  }
}

.submittedEmail {
  font-weight: bold;
}

.emailNotVerifiedBottomText {
  margin-top: 30px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.bottomWrapper {
  margin-top: auto;
}

.bottomInfo {
  @apply --marketplaceH5FontStyles;
  margin: 0;
  color: var(--matterColorAnti);

  @media (--viewportMedium) {
    margin: 0;
  }
}

.bottomLink {
  @apply --marketplaceH5FontStyles;
  margin: 0;
  color: var(--matterColor);

  @media (--viewportMedium) {
    margin: 0;
  }
}
