@import '../../marketplace.css';

.root {
  @apply --backgroundImage;

  display: flex;
  flex: 1;

  @media (--viewportMedium) {
    justify-content: center;
    align-items: flex-start;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 98px 24px;
  background-color: var(--matterColorLight);
  border-radius: 2px;

  @media (--viewportMedium) {
    flex-basis: 480px;
    flex-grow: 0;
    min-height: 573px;
    padding: 60px;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
  }
}

.keysIconRoot {
  width: 100%;
  height: 100%;
}

.title {
  @apply --marketplaceModalTitle;
}

.submittedEmail {
  font-weight: bold;
}

.bottomWrapper {
  margin-top: auto;
  @media (--viewportMedium) {
    margin-top: 67px;
  }
}

.bottomWrapper p {
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.emailSubmittedLink {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColor);
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.emailSubmittedLinkHelp {
  color: var(--matterColorAnti);
}
