@import '../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.priceInput {
  flex-shrink: 0;
  width: 35%;
}

.priceDays {
  margin: 15px 0;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: fit-content;
    margin-top: 100px;
    padding: 0 27px;
  }
}

.cardSelectPet {
  position: relative;
  cursor: pointer;
  /* margin-bottom: 16px; */

  /* width: 656px; */


  @media(max-width: 800px) {
    width: 100%;
  }



  & {
    &:hover {
      cursor: pointer;
      transition: all ease 0.5s;

      &>span {
        &>input {
          cursor: pointer;
        }

        &>label {
          cursor: pointer;
          background-color: #E95629;

          &>span {
            color: #fff;
          }
        }
      }
    }

    &>span {
      &>input {

        &:checked+label,
        &:hover {
          background-color: #E95629;
        }
      }
    }
  }



  &:last-child {
    margin-bottom: 0;
  }

  &>span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &>input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;

      &:checked+label,
      &:hover {
        width: 100%;
        /* background: #6D5072; */
        color: #fff;
        font-weight: 700;
        justify-content: center;

        &>span {
          color: #fff !important;
          font-weight: 700;

          &:first-child {
            opacity: 0;
          }
        }
      }
    }

    &>label {
      background: rgba(109, 80, 114, 0.1);
      border: 1.5px solid rgba(82, 89, 97, 0.4);
      border-radius: 10px;
      text-align: center;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #525961;
      width: 100%;
      height: 100%;
      padding: 10px;
      margin: 0;
      min-width: 120px;
      min-height: 40px;

      &>span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        height: unset;
        margin: 0;

        &:first-child {
          opacity: 0;
          width: 0;
        }
      }
    }
  }
}

.rangeBox {
  & :global(.rc-slider-track) {
    background-color: #E95629;
  }

  & :global(.rc-slider-handle) {
    border: 1px solid #E95629;
    background-color: #E95629;
  }


  & input {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    padding: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: none;
  }

  & input:hover {
    opacity: 1;
  }

  & input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #E95629;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -1px;
  }

  & input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #E95629;
    cursor: pointer;
  }
}

.rowBox {
  display: flex;
  gap: 20px;
}

.rowBoxNumber {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  @media(max-width:520px) {
    flex-wrap: wrap;
  }

  &>div {
    @media(max-width:520px) {
      width: 100%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pickService {
  @media(max-width:1024px) {
    margin-bottom: 20px;
  }
}