@import '../../marketplace.css';

.root {
  height: 100%;
}

.location {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.locationInput {

}

.locationPredictions {
  flex-grow: 1;
  background-color: var(--marketplaceColor);
}
