@import '../../marketplace.css';

:root {
  --inputHeight: 50px;
  --topbarMargin: 94px;
  --bottomBorder: 3px;
  --mobilePredictionTop: calc(var(--topbarMargin) + var(--inputHeight) - var(--bottomBorder));
}

.mobileInputRoot {
  width: 100%;
}

.desktopInputRoot {
  height: var(--topbarMargin);
}


.mobileIcon {
  margin-left: 24px;
}

.mobileInput {
  margin-right: 24px;
}

.desktopIcon {
  border: none;
}

.desktopInput {
  height: var(--topbarMargin);
  border: none;
  padding-top: 0;
  padding-bottom: var(--bottomBorder);
}

.mobilePredictions {
  position: absolute;
  top: calc(var(--inputHeight) - var(--bottomBorder));
  left: 0;
  min-height: calc(100vh - var(--mobilePredictionTop));
}

.desktopPredictions {
  margin-top: calc(var(--topbarMargin) - var(--inputHeight));
  max-width: 434px;
}
