@import '../../marketplace.css';

.contactBanner {
  display: none;
  max-width: 100%;
  margin-top: 50px;
  border-radius: 4px;
  @media (--viewportLarge) {
    display: block;
  }
}

.contactButton {
  @apply --marketplaceModalBtnMainStyle
}

.textContainer {
  margin-right: 16px;

  @media (--viewportMedium) {
    margin-right: 0px;
  }
}

.contactAuthorText {
  display: none;
  margin-top: 10px;
  margin-bottom: 8px;
  line-height: 24px;
  @media (--viewportLarge) {
    margin-top: 10px;
    margin-bottom: 14px;
    color: #1a2b49;
    display: block;
    margin-top: 0;
    font-size: 16px;
  }
}
.contactAuthorTitle {
  display: none;
  @media (--viewportLarge){
    display: block;
    font-size: 30px;
  }
}
.priceValue {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -.3px;
  color: var(--matterColor);

  margin-top: 0;
  margin-bottom: 0px;
  @media (--viewportLarge){
    display: none;
  }
}
.perUnit {
  display: block;
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  margin-top: 0;
  margin-bottom: 0px;
  @media (--viewportLarge){
    display: none;
  }
}
