@import '../../marketplace.css';

.contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  height: 64px;
  padding: 0;
  border: 1px solid black;
  color: white;
  background: green;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-6px);
  }
}
