.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fieldImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.markdownImage {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.video {
  overflow: hidden;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 8px;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
