@import '../../marketplace.css';

.root {
  width: 100%;
}

.container {

  /* Size */
  width: 100%;
  height: 60px;

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: 0 1px 1px 0 #dcdcdc;

  @media (--desktopViewport) {
    display: none;
  }
}

.home {
  padding: 18px;
}

.logoutButton {
  margin: 0;
}

/* Child component's size (and positioning) should be given here */
.hamburgerMenu,
.searchMenu {
  display: flex;
  align-items: center;
  width: 44px;
}

.desktop {
  display: none;

  @media (--desktopViewport) {
    display: block;
  }
}

/* Icon component styles */
.rootMenuIcon,
.rootSearchIcon {
  stroke: var(--matterColor);
}

.searchContainer {
  position: relative;
  height: 100%;
}

.mobileHelp {
  color: var(--matterColorAnti);
  margin: 0 24px;

  /* Absolute position to avoid affecting the layout of the autocomplete
   predictions list */
  position: absolute;
  top: 115px;

  /* Pull text behind search suggestions */
  z-index: -1;
}
