.root {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px 24px 0 24px;
}

.form {
  flex-grow: 1;
}

.payoutModalOpen {
  padding: 0;
}

.payoutDetails {
  margin: 24px;
}

