.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.descriptionField {
  /* Font */
  font-family: inherit;

  /* Border */
  border: 1px solid #979797;
  border-radius: 0px; /* Remove default iOS border radius */

  /* Dimensions */
  padding: 12px 18px;
  min-height: 120px;
}

.submitButton {
  margin-top: 1rem;
}
