@import '../../marketplace.css';

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error {
  color: var(--failColor);
}

.description {
  flex-shrink: 0;
  margin-top: 24px;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-top: 30px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportMedium) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
