@import '../../marketplace.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: flex;
  justify-content: center;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}

.heroButton {
  @apply --marketplaceButtonStyles;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
  }
}


.pureTable {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid  var(--matterColorDark);
}

.pureTable caption {
    color: #000;
    padding: 1em 0;
    text-align: center;
}

.pureTable td,
.pureTable th {
    border-bottom: 1px solid  var(--matterColorDark);
    border-left: 1px solid  var(--matterColorDark);
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 1em 1em; /* cell padding */
    line-height: 1.5;
}

.pureTable thead {
    background-color: var(--marketplaceColorLight);
    color: #000;
    text-align: left;
    vertical-align: bottom;
}



