@import "sanitize.css";

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

input {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #ddd;
}

button {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: sans-serif;

  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ccc;
  }
  &:disabled {
    cursor: auto;
    color: #aaa;

    &:hover,
    &:active {
      background-color: #eee;
    }
  }
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
}
