@import "sanitize.css";

/* Base font */
html, input, button, a {
  /*
     Use Chalkboard font. This font is available in Mac OSX. Fallback
     to Comic Sans MS, "although it is not a perfect substitute font
     since the two are not metrically compatible".

     See: https://en.wikipedia.org/wiki/Chalkboard_(typeface)
  */
  font-family: "Chalkboard", "ChalkboardSE-Regular", "Comic Sans MS", sans-serif;
  color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: -0.6px;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

select {
  border: none;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
}
