@import "sanitize.css";

/* ================ Custom properties aka variables ================ */

:root {
  /* Colors */
  --marketplaceColor: #C0392B;
  --marketplaceColorLight: #FF4C38;
  --marketplaceColorDark: #8C291E;

  --successColor: #2ECC71;
  --failColor: #FF0000;
  --attentionColor: #FFAA00;

  --matterColorDark: #000000;
  --matterColor: #4A4A4A;
  --matterColorAnti: #B2B2B2;
  --matterColorNegative: #E7E7E7;
  --matterColorLight: #FFFFFF;

  /* Spacing units */
  /* Multiples of mobile and desktop spacing units should be used with margins and paddings. */
  --spacingUnit: 6px;
  --spacingUnitDesktop: 8px;

  /* Shadows */
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.3);

  /* z-index base levels */
  /* small popups on UI should use z-indexes above 50 */
  --zIndexPopup: 50;
  /* modals and UI overlays should use z-indexes above 100 */
  --zIndexModal: 100;

  /* Border radius */
  --borderRadius: 2px;
}

/* ================ Custom media queries ================ */

@custom-media --desktopViewport (min-width: 768px);

/* ================ Fonts ================ */

body {
  -webkit-font-smoothing: antialiased; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  -moz-osx-font-smoothing: grayscale; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0;
}

/* Site title (landing page) */
.heroTitle {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 700; /* Bold */
  font-size: 48px;
  line-height: 54px;
  padding: 1px 0 5px; /* 1px + 5px = 6px */;
  letter-spacing: -1px;

  @media (--desktopViewport) {
    font-size: 90px;
    line-height: 96px;
    padding: 1px 0 7px; /* 1px + 7px = 8px */
    letter-spacing: -2px;
  }
}

/* Page title */
h1,
.h1Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  letter-spacing: -0.5px;

  @media (--desktopViewport) {
    font-size: 48px;
    line-height: 56px;
    padding: 0;
    letter-spacing: -1px;
  }
}

h2,
.h2Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 24px;
  line-height: 30px;
  padding: 5px 0 1px; /* 5px + 1px = 6px */
  letter-spacing: -0.3px;

  @media (--desktopViewport) {
    line-height: 32px;
    padding: 5px 0 3px;; /* 5px + 3px = 8px */
  }
}

h3,
.h3Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 20px;
  line-height: 24px;
  padding: 4px 0 2px; /* 4px + 2px = 6px */
  letter-spacing: -0.2px;

  @media (--desktopViewport) {
    padding: 4px 0 4px; /* 4px + 4px = 8px */
  }
}

h4,
.h4Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 500; /* Medium */
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0;

  @media (--desktopViewport) {
    padding: 5px 0 3px; /* 5px + 3px = 8px */
  }
}

h5,
.h5Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 400; /* Regular */
  font-size: 14px;
  line-height: 18px;
  padding: 4px 0 2px; /* 4px + 2px = 6px */
  letter-spacing: 0;

  @media (--desktopViewport) {
    line-height: 16px;
    padding: 2px 0 6px; /* 2px + 6px = 8px */
  }
}

h6,
.h6Font {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 700; /* Bold */
  font-size: 12px;
  line-height: 18px;
  padding: 4px 0 2px; /* 4px + 2px = 6px */
  letter-spacing: 1.5px;
  text-transform: uppercase;

  @media (--desktopViewport) {
    line-height: 16px;
    padding: 2px 0 6px; /* 2px + 6px = 8px */
  }
}

html,
input,
button,
p,
pre,
li,
.bodyFont {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 500; /* Medium */
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  letter-spacing: -0.1px;

  @media (--desktopViewport) {
    font-size: 20px;
    line-height: 32px;
    padding: 0;
  }
}

.tinyFont {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 400; /* Regular */
  font-size: 13px;
  line-height: 18px;
  padding: 3.5px 0 2.5px; /* 3.5px + 2.5px = 6px */
  letter-spacing: -0.1px;

  @media (--desktopViewport) {
    line-height: 16px;
    padding: 2.5px 0 5.5px; /* 1.5px + 6.5px; = 8px */
  }
}

.buttonFont {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 18px;
  line-height: 24px;
  padding: 2.5px 0 3.5px; /* 2.5px + 3.5px = 6px */
  letter-spacing: -0.3px;

  @media (--desktopViewport) {
    /* TODO: Make sure button text aligns with the baseline */
  }
}

/* This font is specific to Avatar component only */
.smallAvatarFont {
  font-family: "sofiapro", Helvetica, Arial, sans-serif;
  font-weight: 700; /* Bold */
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.searchResultsFont {
  composes: bodyFont;
}

/* Base font color */
html,
.textColor {
  color: var(--matterColor);
}

/* ================ Normalisations ================ */
/* TODO */

html {
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

select {
  border: none;
}

textarea {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--marketplaceColor);
}

input {
  display: block;
  width: 100%;

  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--marketplaceColor);
  border-radius: 0;

  &::placeholder {
    color: var(--matterColorAnti);
  }

  &:focus {
    outline: none;
  }
}
