@import "./marketplaceFonts.css";

/* ================ Custom properties aka variables ================ */

:root {

  /**
   * Font variables are separated to different file so that the amount of font styling rules
   * doesn't overflow this one.
   * see ./marketplaceFonts.css
   * Usage example: .root { @apply --marketplaceH1FontStyles; }
   */

  /* Full screen Background image located in root-folder/src/assets */
  --backgroundImage: {
      background-image: url("../../assets/background.jpg");
      background-color: var(--matterColor);
      background-size: cover;
      background-position-y: center;

      /*
       This value is specific to the given image. The value is the
       relative position of the interesting area in the x axis, counted
       from the left side of the image.

       In the default image, this means the person sitting in the
       sauna. This value ensures the person is approximately centered in
       the viewport when the browser width changes.
      */
      background-position-x: 80%;
  }

  /* Colors */
  --marketplaceColor: #C0392B;
  --marketplaceColorLight: #FF4C38;
  --marketplaceColorDark: #8C291E;

  --successColor: #2ECC71;
  --successColorDark: #239954;
  --failColor: #FF0000;
  --attentionColor: #FFAA00;

  --matterColorDark: #000000;
  --matterColor: #4A4A4A;
  --matterColorAnti: #B2B2B2;
  --matterColorNegative: #E7E7E7;
  --matterColorBright: #FCFCFC;
  --matterColorLight: #FFFFFF;

  --matterColorLightTransparent: rgba(255,255,255,0.65);

  /* Spacing units */
  /* Multiples of mobile and desktop spacing units should be used with margins and paddings. */
  --spacingUnit: 6px;
  --spacingUnitDesktop: 8px;

  /* Shadows */
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowTop: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowBreakdown: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  --boxShadowListingCard: 0 0 50px 0 rgba(0,0,0,0.1);

  /* z-index base levels */
  /* small popups on UI should use z-indexes above 50 */
  --zIndexPopup: 50;
  /* modals and UI overlays should use z-indexes above 100 */
  --zIndexModal: 100;

  /* Border radius */
  --borderRadius: 2px;
  --borderRadiusMobileSearch: 3px;

  /* Transitions */
  --transitionStyle: ease-in 0.2s;
  --transitionStyleButton: ease-in-out 0.1s;

  /* Topbar */
  --topbarHeight: 60px;
  --topbarHeightDesktop: 72px;

  /* Links */
  --marketplaceLinkStyles: {

    /* Position and dimensions */
    display: inline;
    margin: 0;
    padding: 0;

    /* Borders */
    border: none;

    /* Colors */
    color: var(--marketplaceColor);

    /* Text size should be inherited */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  /* Buttons */
  --marketplaceButtonFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: var(--fontWeightSemiBold);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;

    @media (--viewportMedium) {
      /* TODO: Make sure button text aligns with the baseline */
    }
  }
  --marketplaceButtonStyles {
    @apply --marketplaceButtonFontStyles;

    /* Dimensions */
    display: block;
    width: 100%;
    margin: 0;
    padding: 17px 0 20px 0;

    /* Borders */
    border: none;
    border-radius: var(--borderRadius);

    /* Colors */
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);

    /* Text */
    text-align: center;

    /* Effects */

    transition: all var(--transitionStyleButton);

    &:enabled:hover,
    &:enabled:focus {
      outline: none;
      background-color: var(--marketplaceColorDark);
      text-decoration: none;
      box-shadow: var(--boxShadowButton);
    }
    &:disabled {
      background-color: var(--matterColorNegative);
      color: var(--matterColorLight);
      cursor: not-allowed;
    }
    &:enabled {
      cursor: pointer;
    }
  }
  --marketplaceButtonStylesPrimary {
    @apply --marketplaceButtonStyles;

    background-color: var(--successColor);
    color: var(--matterColorLight);

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--successColorDark);
    }
  }
  --marketplaceButtonStylesSecondary {
    @apply --marketplaceButtonStyles;

    /* We must reduce the padding since the border takes space from the
       full height that should match the default button height */
    padding: 16px 0 19px 0;

    background-color: var(--matterColorLight);
    color: var(--matterColor);

    border-width: 1px;
    border-style: solid;
    border-color: var(--matterColorNegative);

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--matterColorLight);
      border-color: var(--matterColorAnti);
    }
  }

  /* Inputs */
  --marketplaceInputStyles: {

    /* Dimensions */
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;

    /* Borders */
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--marketplaceColor);
    border-radius: 0;

    &::placeholder {
      color: var(--matterColorAnti);
    }

    /* Effects */

    transition: border-bottom-color var(--transitionStyle);

    &:hover,
    &:focus {
      border-bottom-color: var(--matterColor);
      outline: none;
    }

    @media (--viewportMedium) {
      padding: 6px 0 10px 0;
    }
  }

  --marketplaceSelectStyles: {

    /* Dimensions */
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;

    /* Unset user agent styles */
    appearance: none;

    /* Borders */
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--marketplaceColor);
    border-radius: 0;

    /* Background */
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" xmlns="http://www.w3.org/2000/svg"><path d="M6.53 7.472c.26.26.68.26.94 0l5.335-5.333c.26-.263.26-.684 0-.944-.26-.26-.683-.26-.943 0L7 6.056l-4.862-4.86c-.26-.26-.683-.26-.943 0-.26.26-.26.68 0 .943L6.53 7.47z" stroke="#4A4A4A" fill="#4A4A4A" fill-rule="evenodd"/></svg>');
    background-size: 16px 16px;
    background-position: center right;

    /* Effects */

    cursor: pointer;
    transition: border-bottom-color var(--transitionStyle);

    &:hover,
    &:focus {
      border-bottom-color: var(--matterColor);
      outline: none;
    }
  }
}

/* ================ Custom media queries ================ */

@custom-media --viewportMedium (min-width: 768px);
@custom-media --viewportLarge (min-width: 1024px);
@custom-media --viewportXLarge (min-width: 1921px);

