@import "sanitize.css";

/* ================ Custom properties aka variables ================ */

:root {
  /* Colors */
  --marketplaceColor: #C0392B;
  --marketplaceColorLight: #FF4C38;
  --marketplaceColorDark: #8C291E;

  --successColor: #2ECC71;
  --successColorDark: #239954;
  --failColor: #FF0000;
  --attentionColor: #FFAA00;

  --matterColorDark: #000000;
  --matterColor: #4A4A4A;
  --matterColorAnti: #B2B2B2;
  --matterColorNegative: #E7E7E7;
  --matterColorLight: #FFFFFF;

  /* Spacing units */
  /* Multiples of mobile and desktop spacing units should be used with margins and paddings. */
  --spacingUnit: 6px;
  --spacingUnitDesktop: 8px;

  /* Shadows */
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowLight: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.10);

  /* z-index base levels */
  /* small popups on UI should use z-indexes above 50 */
  --zIndexPopup: 50;
  /* modals and UI overlays should use z-indexes above 100 */
  --zIndexModal: 100;

  /* Border radius */
  --borderRadius: 2px;

  /* Transitions */
  --transitionStyle: ease-in 0.2s;
  --transitionStyleButton: ease-in-out 0.1s;

  /* Topbar */
  --topbarHeight: 60px;
  --topbarHeightDesktop: 72px;

  /* Fonts */
  --marketplaceDefaultFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 500; /* Medium */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    /* No margins for default font */

    @media (--desktopViewport) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  --marketplaceBodyFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 500; /* Medium */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 12px;
    margin-bottom: 12px;

    @media (--desktopViewport) {
      font-size: 20px;
      line-height: 24px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  --marketplaceHeroTitleFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 700; /* Bold */
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 25px;
    margin-bottom: 29px;

    @media (--desktopViewport) {
      font-size: 90px;
      line-height: 96px;
      letter-spacing: -2px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 25px;
      margin-bottom: 31px;
    }
  }
  --marketplaceH1FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 700; /* SemiBold */
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.5px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 18px;
    margin-bottom: 18px;

    @media (--desktopViewport) {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  --marketplaceH2FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.3px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 21px;
    margin-bottom: 17px;

    @media (--desktopViewport) {
      line-height: 32px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 21px;
      margin-bottom: 19px;
    }
  }
  --marketplaceH3FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 16px;
    margin-bottom: 14px;

    @media (--desktopViewport) {
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  --marketplaceH4FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 12px;
    margin-bottom: 12px;

    @media (--desktopViewport) {
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 17px;
      margin-bottom: 15px;
    }
  }
  --marketplaceH5FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 400; /* Regular */
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 10px;
    margin-bottom: 8px;

    @media (--desktopViewport) {
      line-height: 16px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 10px;
      margin-bottom: 14px;
    }
  }
  --marketplaceH6FontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 700; /* Bold */
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 10px;
    margin-bottom: 8px;

    @media (--desktopViewport) {
      line-height: 16px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 10px;
      margin-bottom: 6px;
    }
  }
  --marketplaceTinyFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 400; /* Regular */
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    /* margin-top + n * line-height + margin-bottom => x * 6px */
    margin-top: 9.5px;
    margin-bottom: 8.5px;

    @media (--desktopViewport) {
      line-height: 16px;
      /* margin-top + n * line-height + margin-bottom => x * 8px */
      margin-top: 10.5px;
      margin-bottom: 13.5px;
    }
  }

  /* This font is specific to Avatar component only */
  --marketplaceSmallAvatarFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 700; /* Bold */
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
  }

  /* Links */
  --marketplaceLinkStyles: {

    /* Position and dimensions */
    display: inline;
    margin: 0;
    padding: 0;

    /* Borders */
    border: none;

    /* Colors */
    color: var(--marketplaceColor);

    /* Text size should be inherited */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  /* Buttons */
  --marketplaceButtonFontStyles: {
    font-family: "sofiapro", Helvetica, Arial, sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;

    @media (--desktopViewport) {
      /* TODO: Make sure button text aligns with the baseline */
    }
  }
  --marketplaceButtonStyles {
    @apply --marketplaceButtonFontStyles;

    /* Dimensions */
    display: block;
    width: 100%;
    margin: 0;
    padding: 17px 0 20px 0;

    /* Borders */
    border: none;
    border-radius: var(--borderRadius);

    /* Colors */
    background-color: var(--marketplaceColor);
    color: var(--matterColorLight);

    /* Text */
    text-align: center;

    /* Effects */

    transition: all var(--transitionStyleButton);

    &:enabled:hover,
    &:enabled:focus {
      outline: none;
      background-color: var(--marketplaceColorDark);
      text-decoration: none;
      box-shadow: var(--boxShadowButton);
    }
    &:disabled {
      background-color: var(--matterColorNegative);
      color: var(--matterColorLight);
    }
    &:enabled {
      cursor: pointer;
    }
  }
  --marketplaceButtonStylesPrimary {
    @apply --marketplaceButtonStyles;

    background-color: var(--successColor);
    color: var(--matterColorLight);

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--successColorDark);
    }
  }
  --marketplaceButtonStylesSecondary {
    @apply --marketplaceButtonStyles;

    /* We must reduce the padding since the border takes space from the
       full height that should match the default button height */
    padding: 16px 0 19px 0;

    background-color: var(--matterColorLight);
    color: var(--matterColor);

    border-width: 1px;
    border-style: solid;
    border-color: var(--matterColorNegative);

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--matterColorLight);
      border-color: var(--matterColorAnti);
    }
  }
}

/* ================ Custom media queries ================ */

@custom-media --desktopViewport (min-width: 768px);

/* ================ Fonts ================ */

body {
  -webkit-font-smoothing: antialiased; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  -moz-osx-font-smoothing: grayscale; /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  text-rendering: optimizeSpeed;
}

a {
  @apply --marketplaceLinkStyles;
}

h1 { @apply --marketplaceH1FontStyles; }
h2 { @apply --marketplaceH2FontStyles; }
h3 { @apply --marketplaceH3FontStyles; }
h4 { @apply --marketplaceH4FontStyles; }
h5 { @apply --marketplaceH5FontStyles; }
h6 { @apply --marketplaceH6FontStyles; }

html,
input,
li {
  @apply --marketplaceDefaultFontStyles
}

p,
pre {
  @apply --marketplaceBodyFontStyles;
}

/* Base font color */
html {
  color: var(--matterColor);
}

/* ================ Normalisations ================ */
/* TODO */

html {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

select {
  border: none;
}

textarea {
  width: 100%;
  min-height: 48px;
  padding: 0 0 5px 0;

  /* Borders */
  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--marketplaceColor);
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 13px 0;

  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--marketplaceColor);
  border-radius: 0;

  transition: border-bottom-color var(--transitionStyle);

  &::placeholder {
    color: var(--matterColorAnti);
  }

  &:focus {
    outline: none;
  }
}
