@import '../../marketplace.css';

.root {
  display: flex;
  justify-content: space-between;
  background-color: var(--matterColorBright);
}

.filters {
  & > *:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
    height: auto;
  }
}

.searchResultSummary {
  @apply --marketplaceH4FontStyles;
  line-height: 20px;
  margin-top: 11px;
  margin-bottom: 13px;
}
