@import '../../marketplace.css';

.root {
  display: flex;
  justify-content: space-between;
  background-color: var(--matterColorBright);

  /* sticky result summary in mobile */
  position: sticky;
  top: 0;
  z-index: 9;

  @media (--viewportMedium) {
    position: static;
    top: unset;
    z-index: unset;
  }
}

.searchResultSummary {
  @apply --marketplaceH4FontStyles;
  line-height: 20px;
  margin-top: 9px;
}

.searchResultSummaryMobile {
  @apply --marketplaceH3FontStyles;
  margin-top: 8px;

  display: flex;
  justify-content: space-between;

  background-color: var(--matterColorBright);
}

.mapIcon {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  font-weight: var(--fontWeightBold);

  /* background map image */
  background-image: url(./images/map_icon216x105.png);
  background-size: cover;

  border-radius: 3px;
  width: 72px;
  height: 35px;
  padding: 9px 22px;
  margin: 0;
}
