@import '../../marketplace.css';

.advantage {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 20px;
}

.advantageTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.advantageText {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

 .advantages {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;

    @media (--viewportMedium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
 }
