@import '../../styles/propertySets.css';

.root {
}

.select {
  color: var(--matterColorAnti);
  border-bottom-color: var(--attentionColor);
  padding-right: 20px;

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }
}

.selectSuccess {
  color: var(--matterColor);
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}

.selectDisabled {
  color: var(--matterColorAnti);
  border-bottom-color: var(--matterColorAnti);
  cursor: default;

  &:hover {
    border-bottom-color: var(--matterColorAnti);
  }
}
