@import '../../marketplace.css';

.root {
  width: calc(100vw - 48px);
  margin: 0 24px;
  
  @media (--viewportMedium) {
    width: 100%;
    margin: 0px;
  }
}

.select {
  color: var(--matterColorAnti);
  border-bottom-color: var(--attentionColor);
  padding-right: 20px;

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }
}

.selectSuccess {
  color: var(--matterColor);
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}
