@import '../../marketplace.css';

.sectionContent {
  margin: 80px auto 80px;
  padding: 0 36px 0 36px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 80px auto 80px;
  }

  @media (--viewportLarge) {
    width: 1024px;
    padding: 0 36px 0 36px;
    margin: 80px auto 80px;
  }

  @media (--viewportXLarge) {
    width: 1024px;
    padding: 0;
  }
}

.sectionContent h1 {
  line-height: 50px;
}

@media (max-width: 992px) {
  .sectionContent h1 {
    line-height: 38px;
  }
}

.sectionContent p,
.sectionContent h1,
.sectionContent h2,
.sectionContent h4 {
  font-family: "narrow", "Times New Roman", serif;
}

.sectionContent h4 {
  letter-spacing: 0.8px;
  font-size: 20px;
  font-weight: bold;
}

.sectionContent h2 {
  letter-spacing: 0.8px;
  margin-top: 0;
}

.sectionContent p {
  letter-spacing: 0.7px;
}

.pawTitle {
  text-align: center;
  margin-top: 0;
}

.pawSub {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: bold;
  margin-bottom: 24px !important;
}

.pawImg {
  height: 50px;
  padding-left: 10px;
  position: relative;
  bottom: 6px;
}

.pawEx {
  text-align: center;
  margin-bottom: -10px;
}

.pawEx img {
  height: 240px;
  object-fit: contain;
}

@media (max-width: 580px) {
  .pawSub {
    margin: 30px 0 !important;
  }
  .pawImg {
    margin-top: 15px !important;
  }
}

.divLine {
  margin: 30px 0 35px;
}

@media (max-width: 450px) {
  .divLine {
    margin: 40px 0 15px;
  }
}

.joinNow {
  text-align: center;
  padding-top: 35px;
}

.joinNow a {
  background-color: rgb(65,166,223);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.joinNow a:hover {
  background-image: linear-gradient(to right top, #d16ba5, #c077bd, #a983d0, #8d8fdc, #6d9ae2, #6d9ae2, #6d9ae2, #6d9ae2, #8d8fdc, #a983d0, #c077bd, #d16ba5);
   text-decoration: none !important;
}

.pageBanner {
  display: block;
  position: relative;
  height: auto;
}

.pageBanner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 4px 6px black);
}

.pageBannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, .4);
}

.pageBannerOverlay h1 {
  position: absolute;
  width: 100%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  line-height: 60px;
}

.whyHr {
  margin: 22px 0 19px;
  border-color: rgba(0,0,0,.2) !important;
}

.noma {
  padding-top: 0;
  margin-top: 0;
}