@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-size: 44px;
  margin-top: 0;
  max-width: 735px;

  @media (--viewportMedium) {
    margin-bottom: 23px;
  }
}

.reviewsCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;

  @media (--viewportMedium) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}

.reviewCard { 
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 25px;  
}

.userInfo {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
  align-items: center;
}

.userAvatar {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
