
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Ihre Buchungsanfrage wurde abgelehnt.</h1>

    {{#with transaction}}
    <p>Leider hat {{provider.display-name}} beschlossen, Ihre Buchungsanfrage für {{listing.title}} von {{> format-date date=booking.start}} bis {{> format-date date=booking.end}} abzulehnen. </p>
    {{/with}}

    <p><a href="{{marketplace.url}}">Versuchen Sie stattdessen, etwas anderes zu buchen</a></p>

    <hr />

    <p>Sie haben diese E-Mail-Benachrichtigung erhalten, weil Sie ein Mitglied von {{Marktplatz.name}} sind. Wenn Sie diese E-Mails nicht mehr erhalten möchten, wenden Sie sich bitte an das {{Marktplatz.name}}-Team.</p>
  </body>
</html>