@import '../../marketplace.css';

.error {
  margin-top: 5px;

  @media (--viewportMedium) {
    margin-top: 4px;
  }
  @media (--viewportLarge) {
    margin-top: 3px;
  }
}

.error {
  color: var(--failColor);
}

.aside {
  box-shadow: none;
}
.contactButton {
  @apply --marketplaceModalBtnMainStyle;
  &:hover, &:focus {
    cursor: pointer;
  }
  text-decoration: none !important;
  min-height: 64px;
  width: 312px;
}

.asideContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--matterColorNegative);
  margin: 0;
  padding-bottom: 34px;
  @media (--viewportLarge) {
    border-bottom: none;
    margin: 0 61px 44px 0;
    padding-bottom: 0;
  }
}
.contantsContainer {
  width: 312px;
}
.avatar {
  flex-shrink: 0;
  margin: 26px auto;
  height: 122px;
    width: 122px;
}

.mobileHeading {
  flex-shrink: 0;
  margin: 47px 0 0 0;
  display: none;
  @media (--viewportMedium) {
    margin: 49px 0 0 0;
  }
  /* @media (--viewportLarge) {
    display: none;
  } */
}

.editLinkMobile {
  margin-top: 17px;

  /* Pull the link to the end of the container */
  margin-left: auto;

  @media (--viewportMedium) {
    margin-top: 20px;
  }
  @media (--viewportLarge) {
    display: none;
  }
}

.editLinkDesktop {
  display: none;

  @media (--viewportLarge) {
    display: inline;
  }
}

.desktopHeading {
  /* display: none; */

  @media (--viewportLarge) {
    display: block;
    margin: 2px 0 24px 0;
  }
}

.bio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 0;
}

.listingsContainer {
  @apply --clearfix;
  border-top: 1px solid var(--matterColorNegative);
  border-bottom: 1px solid var(--matterColorNegative);
  padding-bottom: 23px;

  @media (--viewportMedium) {
    padding-bottom: 22px;
  }
}

.listingsTitle {
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 48px;
    margin-bottom: 8px;
  }
  @media (--viewportLarge) {
    margin-top: 58px;
    margin-bottom: 8px;
  }
}

.withBioMissingAbove {
  /* Avoid extra borders in mobile when bio is missing */
  border-top: none;

  @media (--viewportLarge) {
    border-top: 1px solid var(--matterColorNegative);
  }
}

.listings {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.listing {
  width: 100%;

  /* Single column in mobile */
  margin-top: 34px;
  &:first-of-type {
    margin-top: 18px;
  }

  @media (--viewportMedium) {
    /* Two columns in desktop */
    width: calc(50% - 12px);
    margin-bottom: 36px;

    /* Horizontal space */
    &:nth-of-type(odd) {
      margin-right: 12px;
    }
    &:nth-of-type(even) {
      margin-left: 12px;
    }

    /* Vertical space */
    margin-top: 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 20px;
    }
  }
}

.mobileReviewsTitle {
  @apply --marketplaceH3FontStyles;
  color: var(--matterColorAnti);
  margin: 24px 0 26px 0;
}

.mobileReviews {
  margin-bottom: 36px;
}

.desktopReviews {
  margin-top: 28px;

  @media (--viewportMedium) {
    margin-bottom: 48px;
  }

  @media (--viewportLarge) {
    max-width: 600px;
    margin-bottom: 0;
  }
}

.desktopReviewsTitle {
  @apply --marketplaceH3FontStyles;
  margin-bottom: 0;
}

.desktopReviewsTabNav {
  margin-bottom: 32px;
}
.infoSection {
  @media (--viewportLarge) {
    max-width: 600px;
  }
}
.otherInfoContainer {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.otherInfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 111px;
  margin-bottom: 15px;
  margin-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 21px 19px;

  & > div {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
  }
  & > div:nth-of-type(1) {
    color: #923395;
  }

}
.noTransactionsAvailavleBtn {
  background-color: #B2B2B2;

  &:hover, &:focus {
    background-color: #B2B2B2;
  }
  text-decoration: none !important;
  margin-top: 10px;
}
.fieldItem {
  display: flex;
  align-items: center;
  color: #B2B2B2;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  & > svg {
    margin-right: 10px;
  }
}
.fieldVerified {
  color: limegreen;
}
.secondaryHeader {
  color: #B2B2B2;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px
}
.primaryHeader {
  font-size: 24px;
}
.infoWrapper {
  border-top: 1px solid var(--matterColorNegative);
  padding: 32px 0;
  margin-top: 44px
}
.userRatingContainer {
  margin-bottom: 26px;
  & > svg {
    margin-right: 5px;
  }
  & > svg:last-child {
    margin-right: 0;
  }
}
.filled {
  fill: gold;
}
.empty {
  fill: #B2B2B2;
}