<html>
  <body>
    {{#with transaction}}
    <h1>Wie war Ihre Erfahrung mit {{customer.display-name}}? Schreiben Sie eine Bewertung!</h1>

    <p>{{Kunde.display-name}} hat kürzlich {{listing.title}} bei Ihnen gebucht. Bitte schreiben Sie {{customer.display-name}} eine Bewertung, um Ihre Erfahrung zu beschreiben. Bewertungen sind ein wichtiger Teil der {{marketplace.name}} Community.</p>

    <p><a href="{{marketplace.url}}/sale/{{url-encode id}}/details">Eine Rezension hinterlassen</a></p>
    {{/with}}

    <hr />

    <p>Sie haben diese E-Mail-Benachrichtigung erhalten, weil Sie ein Nutzer von {{marketplace.name}} sind. Wenn Sie diese E-Mails nicht mehr erhalten möchten, wenden Sie sich bitte an das {{Marktplatz.name}}-Team.</p>
  </body>
</html>