@import '../../marketplace.css';

:root {
  --logoHeight: 25px;
}

.heading {
  margin-top: 29px;
  margin-bottom: 35px;
  padding: 0 24px;
}

.title {
  /* Font */
  @apply --marketplaceH1FontStyles;
  color: var(--matterColor);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 7px;
  }
}

.author {
  width: 100%;
  @apply --marketplaceH4FontStyles;
  margin-top: 0;
  margin-bottom: 0;
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-bottom: 40px;
}

.priceBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 14px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

.paymentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  margin-bottom: 35px;
}

.paymentTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 14px;
  @media (--desktopViewport) {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

.orderError {
  /* Font */
  color: var(--failColor);
}

.paymentForm {
  flex-grow: 1;
}

/* Dummy Topbar */

.topbar {

  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  align-items: center;
  justify-content: center;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: var(--boxShadow);

  @media (--desktopViewport) {
    display: none;
  }
}

.home {
  display: flex;
  padding: calc((var(--topbarHeight) - var(--logoHeight)) / 2) 24px;
}
