.title {
  margin: 1rem;
}

.authorContainer {
  padding: 1rem;
}

.receipt {
  margin: 1rem 1rem 2rem 1rem;
}

.payment {
  padding: 0 1rem;
}

.paymentTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}
