div[class^="Modal_isOpen"] .SkippingBlock_background{
  background-color: transparent;
}

.greyButton {
  margin-top: 10px;
  background-color: transparent;
  color: #1a2b49;
}
.greyButton:hover {
  background-color: #fafafa;
}
.modalBody p {
  margin-bottom: 95px;
}
.informationModal{
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 48px 24px;
  background-color: #ffffff;
  border-radius: 5px;
  border-bottom: none;
}

@media (min-width: 768px) {
  .informationModal {
    flex-basis: 480px;
    flex-grow: 0;
    padding: 55px 60px 30px 60px;
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    border-top: 8px solid #923395;
  }
}

.informationModal {
  padding-top: 70px;
}
.modalHeader {
  font-size: 30px;
  line-height: 35px;
}
