@import '../../marketplace.css';

.input {
  width: 100%;
  border-bottom-color: var(--attentionColor);
}

.inputContainer {
  width: calc(100vw - 48px);
  margin: 0 24px;
  
  @media (--viewportMedium) {
    width: 100%;
    margin: 0px;
  }
}

.inputSuccess {
  border-bottom-color: var(--successColor);
}

.inputError {
  border-bottom-color: var(--failColor);
}
